<div class="container-fluid container-hubs">
    <div class="clearfix"></div>
    <div class="row-fluid box-header">
        <div>
            <div class="col-md-6 col-sm-7">
                <div class="hub-title-box">
                    Order Details
                </div>
            </div>
            <div class="col-md-3 col-sm-5 pull-right">
                <div class="hub" ng-include="'components/user/user.html'"></div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="hub-search">
                </div>
            </div>
        </div>
    </div>
    
    <div class="row box-order-details">
        <div class="col-md-6 order-details">
            <div class="row-fluid order-details-main-header">
                Order Detail
            </div>
            <div class="row-fluid order-details-body">
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-3">
                        Airway Bill
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.UserOrderNumber}}
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-3">
                        Web Order ID
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.WebOrderID}}
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-3">
                        User
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.User.FirstName}} {{order.User.LastName}} / 
                        {{order.User.Email}} / {{order.User.PhoneNumber}}
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-3">
                        Webstore
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.WebstoreUser.FirstName}} {{order.WebstoreUser.LastName}} / 
                        {{order.WebstoreUser.Email}} / {{order.WebstoreUser.PhoneNumber}}
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-3">
                        Pickup Type
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.PickupType}}
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-3">
                        Payment Type
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.PaymentType}}
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-3">
                        Status
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.OrderStatus.OrderStatus}}
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-3">
                        Pickup Time
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.PickupTime | date:'dd-MM-yyyy HH:mm:ss'}}
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-3">
                        Pickup Address
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.PickupAddress.Address1}} {{order.PickupAddress.Address2}} {{order.PickupAddress.City}} 
                        {{order.PickupAddress.State}} {{order.PickupAddress.Country}} {{order.PickupAddress.ZipCode}}  
                        <div>
                            <a class="address-buttons" type="" ng-click="editPickupAddress()"> 
                                Edit
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-3">
                        Dropoff Time
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.DropoffTime | date:'dd-MM-yyyy HH:mm:ss'}}
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-3">
                        Dropoff Address
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.DropoffAddress.Address1}} {{order.DropoffAddress.Address2}} {{order.DropoffAddress.City}} 
                        {{order.DropoffAddress.State}} {{order.DropoffAddress.Country}} {{order.DropoffAddress.ZipCode}}
                        <div>
                        <a class="address-buttons" type="" ng-click="editDropoffAddress()"> 
                            Edit
                        </a>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-3">
                        Paid By Parent
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.PaidByParent}} 
                        <span ng-if="order.PaidByParent">
                            (by {{order.User.FirstName}} {{order.User.LastName}})
                        </span>
                        <span ng-if="!order.PaidByParent">
                            (by {{order.WebstoreUser.FirstName}} {{order.WebstoreUser.LastName}})
                        </span>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row box-order-details">
        <div class="col-md-12 order-details">
            <div class="row-fluid order-details-main-header">
                History Routes
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid order-details-body">
                <div class="clearfix"></div>
                <div ng-repeat="route in order.UserOrderRoutes" class="row-fluid order-detail-from-address">
                    <uib-accordion>
                    <uib-accordion-group 
                        heading="Route {{$index + 1}}: {{route.Trip.TripNumber}}">
                        <div class="order-status-container-body">
                            Pickup Address: {{route.PickupAddress.Address1}}
                        </div>
                        <div class="order-status-container-body">
                            Pickup Time: {{route.PickupTime | date:'dd-MM-yyyy HH:mm:ss'}}
                        </div>
                        <div class="order-status-container-body">
                            Dropoff Address: {{route.DropoffAddress.Address1}}
                        </div>
                        <div class="order-status-container-body">
                            Dropoff Time: {{route.DropoffTime | date:'dd-MM-yyyy HH:mm:ss'}}
                        </div>
                        <div class="order-status-container-body">
                            Distance: {{route.Distance / 1000 | number : 3 }} km
                        </div>
                        <div class="order-status-container-body">
                            ETA Delivery: {{route.ETADelivery | secondsToDateTime | date:'HH:mm:ss'}}
                        </div>
                        <div class="order-status-container-body">
                            Delivery Fee: {{route.DeliveryFee | currency: currency}}
                        </div>
                        <div class="order-status-container-body">
                            Net Margin: {{route.NetMargin}}
                        </div>
                        <div class="order-status-container-body">
                            Status: {{route.OrderStatus.OrderStatus}}
                        </div>
                        <div class="order-status-container-body">
                            Fleet Manager: {{route.FleetManager.FirstName}} {{route.FleetManager.LastName}} / 
                            {{route.FleetManager.Email}} / {{route.FleetManager.PhoneNumber}}
                        </div>
                        <uib-accordion>
                        <uib-accordion-group heading="Trip">
                            <div class="order-status-container-body">
                                Driver: {{route.Trip.Driver.FirstName}} {{route.Trip.Driver.LastName}}
                            </div>
                            <div class="order-status-container-body">
                                Container: {{route.Trip.ContainerNumber}}
                            </div>
                            <div class="order-status-container-body">
                                Status: {{route.Trip.OrderStatus.OrderStatus}}
                            </div>
                            <div class="order-status-container-body">
                                PickupTime: {{route.Trip.PickupTime | date:'dd-MM-yyyy HH:mm:ss'}}
                            </div>
                            <div class="order-status-container-body">
                                Dropoff Time: {{route.Trip.DropoffTime | date:'dd-MM-yyyy HH:mm:ss'}}
                            </div>                            
                        </uib-accordion-group>   
                        </uib-accordion>
                    </uib-accordion-group>   
                    </uib-accordion>                        
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="editPickupAddressTemplate">
    <h3>Edit Pickup Address</h3>
    <div class="container-fluid">
        <div class="row-fluid">                    
            <div class="label-input">
                Address :
            </div> 
            <div class="hub-field">
                <input id="us2-address" 
                    ng-model="order.PickupAddress.Address1" 
                    type="text" 
                    name="address1" 
                    value="" 
                    placeholder="Address" 
                    required
                    class="first form-control" />
            </div>
        </div>
        <div class="row-fluid">                    
            <div class="label-input">
                Details :
            </div> 
            <div class="hub-field">
                <input id="us2-address" 
                    ng-model="order.PickupAddress.Address2" 
                    type="text" 
                    name="address2" 
                    value="" 
                    placeholder="Address Details" 
                    required
                    class="first form-control" />
            </div>
        </div>
        <div class="row-fluid">                    
            <div class="label-input">
                Country :
            </div> 
            <div class="hub-field">
                <input type="text" 
                    ng-model="order.PickupAddress.Country" 
                    placeholder="Country" 
                    uib-typeahead="address for address in getCountries($viewValue)" 
                    typeahead-loading="loadingLocationsCountry" 
                    typeahead-no-results="noResultsCountry" 
                    class="form-control" />
                <i ng-show="loadingLocationsCountry" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResultsCountry">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">
            <div class="label-input">
                State :
            </div> 
            <div class="hub-field">
                <input type="text" 
                    ng-model="order.PickupAddress.State" 
                    placeholder="State" 
                    uib-typeahead="address for address in getStates($viewValue)" 
                    typeahead-loading="loadingLocationsState" 
                    typeahead-no-results="noResultsState" 
                    class="form-control" />
                <i ng-show="loadingLocationsState" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResultsState">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">                    
            <div class="label-input">
                City :
            </div> 
            <div class="hub-field">
                <input type="text" 
                    ng-model="order.PickupAddress.City" 
                    placeholder="City" 
                    uib-typeahead="address for address in getCities($viewValue)" 
                    typeahead-loading="loadingLocationsCity" 
                    typeahead-no-results="noResultsCity" 
                    class="form-control" />
                <i ng-show="loadingLocationsCity" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResultsCity">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">                    
            <div class="label-input">
                Zip Code :
            </div> 
            <div class="hub-field">
                <input ng-model="order.PickupAddress.ZipCode"
                    type="text"
                    name="zipcode"
                    value=""
                    placeholder="Zipcode"
                    required
                    class="first form-control">
            </div>
        </div>
        <div class="row-fluid">
            <a class="address-buttons" ng-click="updateAddress('pickup')">Update</a>
        </div>
    </div>
</script>

<script type="text/ng-template" id="editDropoffAddressTemplate">
    <h3>Edit Dropoff Address</h3>
    <div class="container-fluid">
        <div class="row-fluid">                    
            <div class="label-input">
                Address :
            </div> 
            <div class="hub-field">
                <input id="us2-address" 
                    ng-model="order.DropoffAddress.Address1" 
                    type="text" 
                    name="address1" 
                    value="" 
                    placeholder="Address" 
                    required
                    class="first form-control" />
            </div>
        </div>
        <div class="row-fluid">                    
            <div class="label-input">
                Details:
            </div> 
            <div class="hub-field">
                <input id="us2-address" 
                    ng-model="order.DropoffAddress.Address2" 
                    type="text" 
                    name="address2" 
                    value="" 
                    placeholder="Address Details" 
                    required
                    class="first form-control" />
            </div>
        </div>
        <div class="row-fluid">                    
            <div class="label-input">
                Country :
            </div> 
            <div class="hub-field">
                <input type="text" 
                    ng-model="order.DropoffAddress.Country" 
                    placeholder="Country" 
                    uib-typeahead="address for address in getCountries($viewValue)" 
                    typeahead-loading="loadingLocationsCountry" 
                    typeahead-no-results="noResultsCountry" 
                    class="form-control" />
                <i ng-show="loadingLocationsCountry" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResultsCountry">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">
            <div class="label-input">
                State :
            </div> 
            <div class="hub-field">
                <input type="text" 
                    ng-model="order.DropoffAddress.State" 
                    placeholder="State" 
                    uib-typeahead="address for address in getStates($viewValue)" 
                    typeahead-loading="loadingLocationsState" 
                    typeahead-no-results="noResultsState" 
                    class="form-control" />
                <i ng-show="loadingLocationsState" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResultsState">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">                    
            <div class="label-input">
                City :
            </div> 
            <div class="hub-field">
                <input ng-model="order.DropoffAddress.City"
                    type="text"
                    name="city"
                    value=""
                    placeholder="City"
                    required
                    class="first form-control" />
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">                    
            <div class="label-input">
                Zip Code :
            </div> 
            <div class="hub-field">
                <input ng-model="order.DropoffAddress.ZipCode"
                    type="text"
                    name="zipcode"
                    value=""
                    placeholder="Zipcode"
                    required
                    class="first form-control">
            </div>
        </div>
        <div class="row-fluid">
            <a class="address-buttons" ng-click="updateAddress('dropoff')">Update</a>
        </div>
    </div>
</script>

