<div class="container-fluid container-hubs">
    <div class="clearfix"></div>
    <div class="row-fluid box-header">
        <div>
            <div class="col-md-6 col-sm-7">
                <div class="hub-title-box">
                    Order Details
                </div>
            </div>
            <div class="col-md-3 col-sm-5 pull-right">
                <div class="hub" ng-include="'components/user/user.html'"></div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="hub-search">
                </div>
            </div>
        </div>
    </div>
    
    <div class="row box-order-details">
        <div class="col-md-6 order-details">
            <div class="row-fluid order-details-main-header">
                Order Detail
                <div class="btn-group pull-right" uib-dropdown is-open="status.isopen">
                    <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem">
                            <a href="#"
                            ng-click="returnCustomer()"
                            ng-if="canBeReturned">Return to Sender</a>
                        </li>
                        <li role="menuitem">
                            <a href="#"
                            ng-click="copyCancelledOrder()"
                            ng-if="canBeCopied">Copy as a new order</a>
                        </li>
                        <li role="menuitem">
                            <a href="#"
                            ng-click="cancelOrder()"
                            ng-if="canBeCancelled">Cancel this order</a>
                        </li>
                        <li role="menuitem">
                            <a href="#"
                            ng-click="reassignDriver()"
                            ng-if="canBeReassigned">Reassign Driver</a>
                        </li>
                        <li role="menuitem">
                            <a href="#"
                            ng-click="setDeliveredStatus()"
                            ng-if="canBeDelivered">Mark as delivered</a>
                        </li>
                        <li role="menuitem">
                            <a href="#"
                            ng-click="setClaimed()"
                            ng-if="canBeClaimed">Mark as Claimed</a>
                        </li>
                        <li role="menuitem">
                            <a href="#"
                            ng-click="openUploadPODmodal()"
                            ng-if="canUploadPOD">Upload POD</a>
                        </li>
                        <li role="menuitem">
                            <a href="#"
                            ng-if="noAction">No action available</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row-fluid order-details-body">
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Airway Bill
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.UserOrderNumber}}
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Web Order ID
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.WebOrderID}}
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        User
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.User.FirstName || '-'}} {{order.User.LastName || '-'}} / 
                        {{order.User.Email || '-'}} / {{order.User.CountryCode}} {{order.User.PhoneNumber || '-'}}
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Webstore
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.WebstoreUser.FirstName || '-'}} {{order.WebstoreUser.LastName || '-'}} / 
                        {{order.WebstoreUser.Email || '-'}} / {{order.WebstoreUser.CountryCode}} {{order.WebstoreUser.PhoneNumber || '-'}}
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Fleet Manager
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.Driver.Driver.FleetManager.CompanyDetail.CompanyName ||
                                order.FleetManager.CompanyDetail.CompanyName}}
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Driver
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.Driver.FirstName}} {{order.Driver.LastName}} / 
                        {{order.Driver.CountryCode}} {{order.Driver.PhoneNumber}}
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Pickup Type
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.PickupType}}
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Payment Type
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.PaymentType}}
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Status
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.OrderStatus.OrderStatus}}
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Pickup Time
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.PickupTime | date:'MM/dd/yyyy HH:mm:ss a'}}
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Pickup Address
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.PickupAddress.Address1}} {{order.PickupAddress.Address2}} {{order.PickupAddress.City}} 
                        {{order.PickupAddress.State}} {{order.PickupAddress.Country}} {{order.PickupAddress.ZipCode}}  
                        <div>
                            <a class="address-buttons" type="" ng-click="editPickupAddress()"> 
                                Edit
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Dropoff Time
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.DropoffTime | date:'MM/dd/yyyy HH:mm:ss a'}}
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Recipient Detail
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.DropoffAddress.FirstName}} {{order.DropoffAddress.LastName}} / 
                        {{order.DropoffAddress.CountryCode}}-{{order.DropoffAddress.MobileNumber}} / 
                        {{order.DropoffAddress.EmailID}}
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Dropoff Address
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.DropoffAddress.Address1}} {{order.DropoffAddress.Address2}} {{order.DropoffAddress.City}} 
                        {{order.DropoffAddress.State}} {{order.DropoffAddress.Country}} {{order.DropoffAddress.ZipCode}}
                        <div>
                        <a class="address-buttons" type="" ng-click="editDropoffAddress()"> 
                            Edit
                        </a>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Paid By Parent
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.PaidByParent}} 
                        <span ng-if="order.PaidByParent">
                            (by {{order.User.FirstName}} {{order.User.LastName}})
                        </span>
                        <span ng-if="!order.PaidByParent">
                            (by {{order.WebstoreUser.FirstName}} {{order.WebstoreUser.LastName}})
                        </span>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Order Cost
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{currency}}{{order.OrderCost | awnum:2:decimalSeparator:'round':'false':'true'}}
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Final Cost
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{currency}}{{order.FinalCost | awnum:2:decimalSeparator:'round':'false':'true'}}
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        VAT
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{currency}}{{order.VAT | awnum:2:decimalSeparator:'round':'false':'true'}}
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Include Insurance
                    </div>
                    <div class="col-sm-8 summary-from">
                        <span ng-if="order.IncludeInsurance">Yes</span>
                        <span ng-if="!order.IncludeInsurance">No</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Is COD
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{order.IsCOD}}
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Total Value
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{currency}}{{order.TotalValue | awnum:2:decimalSeparator:'round':'false':'true'}}
                        <div>
                        <a class="address-buttons" type="" ng-click="editCod()"> 
                            Edit
                        </a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Use Extra Helper
                    </div>
                    <div class="col-sm-8 summary-from">
                        <span ng-if="order.UseExtraHelper">Yes</span>
                        <span ng-if="!order.UseExtraHelper">No</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Etobee Share
                    </div>
                    <div class="col-sm-8 summary-from" >
                        {{currency}}{{order.Share | awnum:2:decimalSeparator:'round':'false':'true'}}
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Driver Share
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{currency}}{{order.DriverShare | awnum:2:decimalSeparator:'round':'false':'true'}}
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="col-sm-4">
                        Logistic Share
                    </div>
                    <div class="col-sm-8 summary-from">
                        {{currency}}{{order.LogisticShare | awnum:2:decimalSeparator:'round':'false':'true'}} 
                    </div>
                </div>
                <div ng-repeat="attempt in order.UserOrderAttempts" class="row-fluid order-detail-from-address">
                    <uib-accordion>
                    <uib-accordion-group 
                        heading="Failed attempt {{$index + 1}}:">
                        <div class="order-status-container-body">
                            Driver: {{attempt.Driver.FirstName}} {{attempt.Driver.LastName}}
                        </div>
                        <div class="order-status-container-body">
                            Reason: {{attempt.ReasonReturn.ReasonName}}
                        </div>
                        <div class="order-status-container-body">
                            Date: {{attempt.CreatedDate | date:'MM/dd/yyyy HH:mm:ss a'}}
                        </div>
                        <div class="order-status-container-body">
                            Proof of Failed: 
                            <div>
                                <img class="failed-image" src="{{attempt.ProofOfAttemptURL}}"></img>
                            </div>
                        </div>
                    </uib-accordion-group>   
                    </uib-accordion>                        
                </div>
                <div ng-show="isCurrentStatus.returnedSender" class="row-fluid order-detail-from-address">
                    <uib-accordion>
                        <uib-accordion-group heading="POD - {{order.OrderStatus.OrderStatus}}:">
                            <div class="row no-margin">
                                <div class="col-sm-4 no-padding">
                                    Date 
                                </div>
                                <div class="col-sm-8">
                                    {{order.DropoffTime | date:'MM/dd/yyyy HH:mm:ss a'}}
                                </div>
                            </div>
                            <div class="row no-margin">
                                <div class="col-sm-4 no-padding">
                                    Photo 
                                </div>
                                <div class="col-sm-8">
                                    <img class="failed-image" ng-if="order.PathPhotoPODReturnCustomer" src="{{order.PathPhotoPODReturnCustomer}}">
                                </div>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
                <div ng-show="order.RecipientName.trim()" class="row-fluid order-detail-from-address">
                    <uib-accordion>
                        <uib-accordion-group heading="POD - {{order.OrderStatus.OrderStatus}}">
                            <div class="order-status-container-body">
                                <span>Recipient Name</span> : {{order.RecipientName}}
                            </div>
                            <div>
                                <div class="order-status-container-body">
                                    Recipient Phone : {{order.RecipientPhone}}
                                </div> 
                                <div ng-show="order.RecipientRelation" class="order-status-container-body">
                                    Recipient Relation : {{order.RecipientRelation}}
                                </div>
                            </div>
                            <div class="order-status-container-body col-sm-6 text-center">
                                Signature :
                                <div>
                                    <img class="failed-image" src="{{order.RecipientSignature}}">
                                </div>
                            </div> 
                            <div class="order-status-container-body col-sm-6 text-center">
                                Photo :
                                <div>
                                    <img class="failed-image" src="{{order.RecipientPhoto}}">
                                </div>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row text-center">
                <h2><strong>{{order.OrderStatus.OrderStatus}}</strong></h2>
                <div class="header-background-order-detail">
                    <div class="row no-margin">
                        <h5><b>CURRENT ROUTE</b></h5>
                    </div>
                </div>
                <div class="bg-white row no-margin">
                    <div class="col-xs-12 text-left">
                        <h5>{{order.CurrentRouteDetail}}</h5>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <a class="address-buttons" ng-click="openTracking(order.UserOrderNumber)">Track this item</a>
            </div>
        </div>
    </div>
    <div class="row box-order-details">
        <div class="col-md-12 order-details">
            <div class="row-fluid order-details-main-header">
                History Routes
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid order-details-body">
                <div class="clearfix"></div>
                <div ng-repeat="route in order.UserOrderRoutes" class="row-fluid order-detail-from-address">
                    <uib-accordion>
                    <uib-accordion-group
                        heading="Route {{$index + 1}} | Status: {{route.OrderStatus.OrderStatus}} 
                            {{ route.Trip !== null ? ' | Fleet: ' + route.Trip.FleetManager.CompanyDetail.CompanyName : ''}} 
                            {{ route.Trip !== null ? ' | Driver: ' + route.Trip.Driver.FirstName + ' ' + route.Trip.Driver.LastName : ''}}">
                        <div class="order-status-container-body">
                            <div class="row-fluid">
                                <div class="col-md-2">
                                    Origin Hub
                                </div>
                                <div ng-show="route.OriginHub.Name || route.OriginHub.Address1" class="col-md-10 summary-from">
                                    {{route.OriginHub.Name || '-'}} / {{route.OriginHub.Address1 || '-'}}
                                </div>
                                <div ng-hide="route.OriginHub.Name && route.OriginHub.Address1" class="col-md-10 summary-from">
                                    -
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row-fluid">
                            <div class="col-md-2">
                                Destination Hub
                            </div>
                            <div ng-show="route.DestinationHub.Name || route.DestinationHub.Address1" class="col-md-10 summary-from">
                                {{route.DestinationHub.Name || '-'}} / {{route.DestinationHub.Address1 || '-'}}
                            </div>
                            <div ng-hide="route.DestinationHub.Name && route.DestinationHub.Address1" class="col-md-10 summary-from">
                                -
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row-fluid">
                            <div class="col-md-2">
                                Pickup Address
                            </div>
                            <div ng-show="route.PickupAddress.Address1" class="col-md-10 summary-from">
                                {{route.PickupAddress.Address1}}
                            </div>
                            <div ng-hide="route.PickupAddress.Address1" class="col-md-10 summary-from">
                                -
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row-fluid">
                            <div class="col-md-2">
                                Pickup Time
                            </div>
                            <div ng-show="route.PickupTime" class="col-md-10 summary-from">
                                {{route.PickupTime | date:'MM/dd/yyyy HH:mm:ss a'}}
                            </div>
                            <div ng-hide="route.PickupTime" class="col-md-10 summary-from">
                                -
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row-fluid">
                            <div class="col-md-2">
                                Dropoff Address
                            </div>
                            <div ng-show="route.DropoffAddress.Address1" class="col-md-10 summary-from">
                                {{route.DropoffAddress.Address1}}
                            </div>
                            <div ng-hide="route.DropoffAddress.Address1" class="col-md-10 summary-from">
                                -
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row-fluid">
                            <div class="col-md-2">
                                Dropoff Time
                            </div>
                            <div ng-show="route.DropoffTime" class="col-md-10 summary-from">
                                {{route.DropoffTime | date:'MM/dd/yyyy HH:mm:ss a'}}
                            </div>
                            <div ng-hide="route.DropoffTime" class="col-md-10 summary-from">
                                -
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row-fluid">
                            <div class="col-md-2">
                                Distance
                            </div>
                            <div class="col-md-10 summary-from">
                                {{route.Distance / 1000 | number : 3 }} km
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row-fluid">
                            <div class="col-md-2">
                                ETA Delivery
                            </div>
                            <div class="col-md-10 summary-from">
                                {{route.ETADelivery | secondsToDateTime | date:'HH:mm:ss'}}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row-fluid">
                            <div class="col-md-2">
                                Logistic Fee
                            </div>
                            <div class="col-md-10 summary-from">
                                {{route.LogisticFee | currency: currency}}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row-fluid">
                            <div class="col-md-2">
                                Net Margin
                            </div>
                            <div ng-show="route.NetMargin" class="col-md-10 summary-from">
                                {{route.NetMargin}}
                            </div>
                            <div ng-hide="route.NetMargin" class="col-md-10 summary-from">
                                -
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row-fluid">
                            <div class="col-md-2">
                                Status
                            </div>
                            <div class="col-md-10 summary-from">
                                {{route.OrderStatus.OrderStatus}}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row-fluid">
                            <div class="col-md-2">
                                Fleet Manager
                            </div>
                            <div ng-show="route.FleetManager" class="col-md-10 summary-from">
                                {{route.FleetManager.CompanyDetail.CompanyName}} / 
                                {{route.FleetManager.Email}} / {{route.FleetManager.PhoneNumber}}
                            </div>
                            <div ng-hide="route.FleetManager" class="col-md-10 summary-from">
                                -
                            </div>
                        </div>
                        <uib-accordion>
                        <uib-accordion-group ng-if="route.Trip !== null" heading="Trip">
                            <div class="row-fluid">
                                <div class="col-md-2">
                                    Driver
                                </div>
                                <div ng-show="route.Trip.Driver.FirstName || route.Trip.Driver.LastName" class="col-md-10 summary-from">
                                    {{route.Trip.Driver.FirstName}} {{route.Trip.Driver.LastName}}
                                </div>
                                <div ng-hide="route.Trip.Driver.FirstName && route.Trip.Driver.LastName" class="col-md-10 summary-from">
                                    -
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="col-md-2">
                                    Container
                                </div>
                                <div ng-show="route.Trip.ContainerNumber" class="col-md-10 summary-from">
                                    {{route.Trip.ContainerNumber}}
                                </div>
                                <div ng-hide="route.Trip.ContainerNumber" class="col-md-10 summary-from">
                                    -
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="col-md-2">
                                    Status
                                </div>
                                <div ng-show="route.Trip.OrderStatus.OrderStatus" class="col-md-10 summary-from">
                                    {{route.Trip.OrderStatus.OrderStatus}}
                                </div>
                                <div ng-hide="route.Trip.OrderStatus.OrderStatus" class="col-md-10 summary-from">
                                    -
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="col-md-2">
                                    PickupTime
                                </div>
                                <div ng-show="route.Trip.PickupTime" class="col-md-10 summary-from">
                                    {{route.Trip.PickupTime | date:'MM/dd/yyyy HH:mm:ss a'}}
                                </div>
                                <div ng-hide="route.Trip.PickupTime" class="col-md-10 summary-from">
                                    -
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="col-md-2">
                                    Dropoff Time
                                </div>
                                <div ng-show="route.Trip.DropoffTime" class="col-md-10 summary-from">
                                    {{route.Trip.DropoffTime | date:'MM/dd/yyyy HH:mm:ss a'}}
                                </div>
                                <div ng-hide="route.Trip.DropoffTime" class="col-md-10 summary-from">
                                    -
                                </div>
                            </div>
                        </uib-accordion-group>   
                        </uib-accordion>
                    </uib-accordion-group>   
                    </uib-accordion>                        
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="editPickupAddressTemplate">
    <h3>Edit Pickup Address</h3>
    <div class="container-fluid">
        <div class="row-fluid">                    
            <div class="label-input">
                Address :
            </div> 
            <div class="hub-field">
                <input id="us2-address" 
                    ng-model="order.PickupAddress.Address1" 
                    type="text" 
                    name="address1" 
                    value="" 
                    placeholder="Address" 
                    required
                    class="first form-control" />
            </div>
        </div>
        <div class="row-fluid">                    
            <div class="label-input">
                Details :
            </div> 
            <div class="hub-field">
                <input id="us2-address" 
                    ng-model="order.PickupAddress.Address2" 
                    type="text" 
                    name="address2" 
                    value="" 
                    placeholder="Address Details" 
                    required
                    class="first form-control" />
            </div>
        </div>
        <div class="row-fluid">                    
            <div class="label-input">
                Country :
            </div> 
            <div class="hub-field">
                <input type="text" 
                    ng-model="order.PickupAddress.Country" 
                    placeholder="Country" 
                    uib-typeahead="address for address in getCountries($viewValue)" 
                    typeahead-loading="loadingLocationsCountry" 
                    typeahead-no-results="noResultsCountry" 
                    class="form-control" />
                <i ng-show="loadingLocationsCountry" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResultsCountry">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">
            <div class="label-input">
                State :
            </div> 
            <div class="hub-field">
                <input type="text" 
                    ng-model="order.PickupAddress.State" 
                    placeholder="State" 
                    uib-typeahead="address for address in getStates($viewValue)" 
                    typeahead-loading="loadingLocationsState" 
                    typeahead-no-results="noResultsState" 
                    class="form-control" />
                <i ng-show="loadingLocationsState" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResultsState">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">                    
            <div class="label-input">
                City :
            </div> 
            <div class="hub-field">
                <input type="text" 
                    ng-model="order.PickupAddress.City" 
                    placeholder="City" 
                    uib-typeahead="address for address in getCities($viewValue)" 
                    typeahead-loading="loadingLocationsCity" 
                    typeahead-no-results="noResultsCity" 
                    class="form-control" />
                <i ng-show="loadingLocationsCity" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResultsCity">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">                    
            <div class="label-input">
                Zip Code :
            </div> 
            <div class="hub-field">
                <input ng-model="order.PickupAddress.ZipCode"
                    type="text" maxlength="{{zipLength}}"
                    name="zipcode"
                    value=""
                    placeholder="Zipcode"
                    required
                    uib-typeahead="address for address in getZipcodes($viewValue)" 
                    typeahead-loading="loadingLocationsZip" 
                    typeahead-no-results="noResultsZip" 
                    class="first form-control">
                <i ng-show="loadingLocationsZip" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResultsZip">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <a class="address-buttons" ng-click="updateAddress('pickup')">Update</a>
        </div>
    </div>
</script>

<script type="text/ng-template" id="editDropoffAddressTemplate">
    <h3>Edit Dropoff Address</h3>
    <div class="container-fluid">
        <div class="row-fluid">                    
            <div class="label-input">
                Address :
            </div> 
            <div class="hub-field">
                <input id="us2-address" 
                    ng-model="order.DropoffAddress.Address1" 
                    type="text" 
                    name="address1" 
                    value="" 
                    placeholder="Address" 
                    required
                    class="first form-control" />
            </div>
        </div>
        <div class="row-fluid">                    
            <div class="label-input">
                Details:
            </div> 
            <div class="hub-field">
                <input id="us2-address" 
                    ng-model="order.DropoffAddress.Address2" 
                    type="text" 
                    name="address2" 
                    value="" 
                    placeholder="Address Details" 
                    required
                    class="first form-control" />
            </div>
        </div>
        <div class="row-fluid">                    
            <div class="label-input">
                Country :
            </div> 
            <div class="hub-field">
                <input type="text" 
                    ng-model="order.DropoffAddress.Country" 
                    placeholder="Country" 
                    uib-typeahead="address for address in getCountries($viewValue)" 
                    typeahead-loading="loadingLocationsCountry" 
                    typeahead-no-results="noResultsCountry" 
                    class="form-control" />
                <i ng-show="loadingLocationsCountry" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResultsCountry">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">
            <div class="label-input">
                State :
            </div> 
            <div class="hub-field">
                <input type="text" 
                    ng-model="order.DropoffAddress.State" 
                    placeholder="State" 
                    uib-typeahead="address for address in getStates($viewValue)" 
                    typeahead-loading="loadingLocationsState" 
                    typeahead-no-results="noResultsState" 
                    class="form-control" />
                <i ng-show="loadingLocationsState" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResultsState">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">                    
            <div class="label-input">
                City :
            </div> 
            <div class="hub-field">
                <input ng-model="order.DropoffAddress.City"
                    type="text"
                    name="city"
                    value=""
                    placeholder="City"
                    required
                    class="first form-control" />
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">                    
            <div class="label-input">
                Zip Code :
            </div> 
            <div class="hub-field">
                <input ng-model="order.DropoffAddress.ZipCode"
                    type="text" maxlength="{{zipLength}}"
                    name="zipcode"
                    value=""
                    placeholder="Zipcode"
                    required
                    uib-typeahead="address for address in getZipcodes($viewValue)" 
                    typeahead-loading="loadingLocationsZip" 
                    typeahead-no-results="noResultsZip" 
                    class="first form-control">
                <i ng-show="loadingLocationsZip" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResultsZip">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <a class="address-buttons" ng-click="updateAddress('dropoff')">Update</a>
        </div>
    </div>
</script>

<script type="text/ng-template" id="reassignDriverTemplate">
    <div class="container-fluid" id="reassignDriverModal">
        <h3>Reassign Driver</h3>
        <div>
            <label>
                <input type="checkbox" ng-model="$parent.isUpdateDeliveryFee">
                Update delivery fee ?
            </label>
            <input  ng-if="$parent.isUpdateDeliveryFee"
                    type="number"
                    class="form-control input-table"
                    placeholder="input delivery fee"
                    ng-model="$parent.$parent.newDeliveryFee">
            <br>
        </div>
        <ui-select ng-model="company" 
            theme="selectize" 
            on-select="chooseCompany($item)" 
            class="booking-order-type">
            <ui-select-match class="input-table">{{$select.selected.CompanyName}}</ui-select-match>
            <ui-select-choices repeat="c in companies | filter: $select.search" selected>
                <span class="input-table" ng-bind-html="c.CompanyName | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
        <div class="row-fluid">
            <div ng-if="company.CompanyDetailID === 'all'">
                <div><input 
                    type="search" 
                    class="form-control input-table" 
                    placeholder="search driver by name"
                    ng-model="$parent.$parent.queryDriverName" 
                    ng-keyup="searchDriverName($event)"></div>
            </div>
            <div class="modal-table">
                <table>
                    <tr ng-if="isLoading">
                        <td class="text-center">Loading</td>
                    </tr>
                    <tr ng-if="!isLoading" ng-repeat="driver in displayed">
                        <td class="text-center">{{driver.Driver.FirstName}} {{driver.Driver.LastName}}</td>
                        <td class="text-center">{{driver.Driver.CountryCode}}-{{driver.Driver.PhoneNumber}}</td>
                        <td><button class="btn btn-primary" 
                                    ng-click="selectDriver(driver)">Reassign</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="returnCustomerTemplate">
    <div class="container-fluid" id="returnCustomerModal">
        <h3>Return to Sender</h3>
        <div>
            <p>You will return this order to customer / sender ? This process can't be reversed.</p>
        </div>
        <div class="row no-margin">
            <div class="label-payment">
                POD :
            </div>
            <div class="col-xs-12 no-padding">
                <a ng-if="urlUploadedPic" href="{{urlUploadedPic}}"
                    target="_blank">Click to view</a>
                <button class="btn btn-default" ngf-select="uploadPic($file)" ng-model="file" 
                    ngf-model-invalid="errorFile" type="file" accept="image/*">Upload</button>
            </div>
        </div>
        <br>
        <ui-select ng-model="company" 
            theme="selectize" 
            on-select="chooseCompany($item)" 
            class="booking-order-type">
            <ui-select-match class="input-table">{{$select.selected.CompanyName}}</ui-select-match>
            <ui-select-choices repeat="c in companies | filter: $select.search" selected>
                <span class="input-table" ng-bind-html="c.CompanyName | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
        <div class="row-fluid">
            <div ng-if="company.CompanyDetailID === 'all'">
                <div><input 
                    type="search" 
                    class="form-control input-table" 
                    placeholder="search driver by name"
                    ng-model="$parent.$parent.queryDriverName" 
                    ng-keyup="searchDriverName($event)"></div>
            </div>
            <div class="modal-table">
                <table class="col-md-12 no-padding">
                    <tr ng-if="isLoading">
                        <td class="text-center">Loading</td>
                    </tr>
                    <tr ng-if="!isLoading" ng-repeat="driver in displayed">
                        <td class="text-center">{{driver.Driver.FirstName}} {{driver.Driver.LastName}}</td>
                        <td class="text-center">{{driver.Driver.CountryCode}}-{{driver.Driver.PhoneNumber}}</td>
                        <td class="padding-tb-5"><button class="btn btn-primary" 
                                    ng-click="selectDriverToReturnCustomer(driver)">Return this order</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="editCodTemplate">
    <h3>Edit COD</h3>
    <div class="container-fluid">
        <div class="row-fluid">                    
            <div class="label-input">
                Is COD :
            </div>
            <div class="hub-field">
                <input type="checkbox" 
                    id="editcod-iscod" 
                    name="isCod"
                    ng-model="form.cod.IsCOD"
                    required>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">                    
            <div class="label-input">
                Total Value :
            </div> 
            <div class="hub-field">
                <input id="editcod-totalvalue" 
                    ng-model="form.cod.TotalValue" 
                    type="text" 
                    name="totalValue" 
                    value="" 
                    placeholder="Total Value" 
                    required
                    class="first form-control" />
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">
            <a class="address-buttons" ng-click="updateCod()">Update</a>
        </div>
    </div>
</script>

<script type="text/ng-template" id="setMarkAsClaimedModal">
    <div class="header-wrapper">
        <h3 class="no-margin">Mark as Claimed</h3>
    </div>
    <div class="content-wrapper booking-popup notification-popup container-fluid no-padding">
        <form class="form-horizontal">
            <br>
            <div class="form-group no-margin">
                <div class="col-md-12 no-padding">
                    <p>Status:</p>
                </div>
                <div class="col-md-4 no-padding" ng-show="claimed.orderIDsVendor.length > 0">
                    <p ng-click="setClaimedCheckbox()">
                        <input type="checkbox" ng-model="claimed.vendor">
                        Claimed Vendor
                    </p>
                </div>
                <div class="col-md-4 no-padding" ng-show="claimed.orderIDsMerchant.length > 0">
                    <p ng-click="setClaimedCheckbox()">
                        <input type="checkbox" ng-model="claimed.merchant">
                        Claimed Merchant
                    </p>
                </div>
                <div class="col-md-4 no-padding">
                    <p ng-click="setClaimedAllCheckbox()">
                        <input type="checkbox" ng-model="claimed.all">
                        Claimed All
                    </p>
                </div>
                <div class="col-md-12 no-padding">
                    <button class="btn btn-primary" ng-click="setMarkAsClaimed()">Submit</button>   
                </div>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="uploadPODModal">
    <div class="container-fluid">
        <h4>Upload POD</h4>
        <div class="row no-margin">
            <div class="label-payment">
                POD :
            </div>
            <div class="col-xs-12 no-padding">
                <div class="col-md-5 no-padding">
                    <img class="col-xs-12 no-padding" ng-hide="!order.RecipientPhoto || urlUploadedPic" src="{{order.RecipientPhoto}}">
                    <img class="col-xs-12 no-padding" ng-show="urlUploadedPic" src="{{urlUploadedPic}}">
                    <p ng-hide="order.RecipientPhoto"><small class="red">No POD Added</small></p>
                </div>
                <div class="col-md-7">
                    <button class="btn btn-default" ngf-select="uploadPic($file)" ng-model="file" 
                        ngf-model-invalid="errorFile" type="file" accept="image/*">Upload POD</button>
                </div>
            </div>
        </div>
        <div class="row no-margin">
            <br>
            <button class="btn btn-primary" ng-disabled="!urlUploadedPic" ng-click="uploadPOD()">Submit</button>
        </div>
    </div>
</script>