<div class="container-fluid container-order" id="">
    <div class="clearfix"></div>
    <div class="row-fluid box-header">
        <div>
            <div class="col-md-6 col-sm-7">
                <div class="hub-title-box">
                    Order Management
                </div>
            </div>
            <div class="col-md-3 col-sm-5 pull-right">
                <div class="hub" ng-include="'components/user/user.html'"></div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="hub-search">
                </div>
            </div>
        </div>
    </div>
    <div class="first-row">
        <button class="btn order-buttons first-row-element" ng-click="showImportOrders()">Import Orders</button>
        <button class="btn order-buttons first-row-element" ng-click="showExportOrders()">Export Orders</button>
        <div class="dropdown first-row-element">
            <button ng-show="features.order.set_price || 
                features.order.reassign_fleet || 
                features.order.bulk_mark_delivered || 
                features.order.bulk_return_warehouse ||
                features.order.bulk_return_sender"
                ng-disabled="!isOrderSelected"
                class="order-buttons btn dropdown-toggle" 
                type="button" 
                data-toggle="dropdown">
                Action
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a ng-show="features.order.set_price" ng-click="showSetPrice()">Update Price</a></li>
                <li><a ng-show="features.order.reassign_fleet" ng-click="showReassignFleet()">Reassign Fleet</a></li>
                <li><a ng-show="features.order.bulk_mark_delivered" ng-click="bulkSetDeliveredStatus()">Mark as Delivered</a></li>
                <li>
                    <a ng-show="features.order.bulk_return_warehouse" ng-click="showReturnWarehouse()">Mark as Return Warehouse</a>
                </li>
                        <li>
                            <a ng-show="features.order.bulk_return_sender" ng-click="showReturnSender()">Mark as Return Sender</a>
                        </li>
            </ul>
        </div>
        <div class="first-row-separator first-row-element"></div>
        <button class="btn order-buttons first-row-element" ng-click="refresh()">Refresh</button>
        <button class="btn order-buttons first-row-element" ng-click="clearFilter()">
            <i class="fa fa-refresh"></i> Reset Filter</button>
        <span style="position:absolute" class="first-row-element">
            <ui-select ng-model="itemsByPage" 
                theme="selectize" 
                on-select="setLimit($item)" 
                class="content-choose-limit">
                <ui-select-match>{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="ot in limitPages" selected>
                    <span ng-bind-html="ot"></span>
                </ui-select-choices>
            </ui-select>
            <p class="label-limit">
                records per page
            </p>
        </span>
    </div>
    <div class="row no-margin">
        <div class="col-md-11 action-button">
        </div>        
        <div class="col-md-4 top-buffer">
            <div class="row no-margin">
                <uib-accordion>
                    <uib-accordion-group is-open="areaFilter.open">
                        <uib-accordion-heading>
                            Multiple Filter by EDS / AWB / WebOrderID
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': areaFilter.open, 'glyphicon-chevron-right': !areaFilter.open}"></i>
                        </uib-accordion-heading>
                        <textarea ng-model="$parent.$parent.$parent.queryMultipleEDS"
                            id="eds-textarea"
                            placeholder="Write/Paste EDS Number or Order ID here, separated with newline">
                        </textarea>
                        <div class="col-md-9">
                            <div>
                                <span ng-if="$parent.$parent.$parent.queryMultipleEDS !== ''">
                                    {{userOrderNumbers.length}} </span> 
                                <span ng-if="!$parent.$parent.$parent.queryMultipleEDS">0</span> inserted.
                            </div>
                            <div class="text-danger" ng-if="orderNotFound.length > 0">
                                <span ng-if="orderNotFound.length > 1">These orders <span ng-repeat="o in orderNotFound">{{o}}, </span> are not found.</span>
                                <span ng-if="orderNotFound.length === 1">This order <span ng-repeat="o in orderNotFound">{{o}}</span> is not found.</span>
                            </div>
                        </div>
                        
                        <div class="pull-right">
                            <a class="btn btn-default" ng-click="clearTextArea()">Clear</a>
                            <a class="btn btn-default" 
                                ng-click="areaFilter.open = false; clearTextArea()">Cancel</a>
                            <a ng-click="filterMultipleEDS()" class="btn btn-success">Filter</a>
                        </div>
                    </uib-accordion-group>
                </uib-accordion>
            </div>
        </div>

        <div class="clearfix"></div>
        <div id="order-page" class="col-md-12">
            <div class="table-responsive">
                <table st-table="displayed" st-pipe="callServer" class="table table-hover table-main-trip order-table">
                    <thead class="hubs-table-head" ng-show="!isLoading && displayed.length > 0">
                        <tr>
                            <th class="checkbox-header">
                                <input type="checkbox" ng-model="status.selectedAll" ng-click="checkUncheckSelected()" />
                            </th>
                            <th class="checkbox-header"></th>
                            <th>AWB / Web Order ID</th>
                            <th class="sortable-column"
                                ng-if="sortBy !== 'PickupTime' || isFirstSort"
                                ng-click="sortColumn('PickupTime', 'ASC')">
                                Pickup Time
                            </th>
                            <th class="sortable-column"
                                ng-if="sortBy == 'PickupTime' && sortCriteria == 'ASC'" 
                                ng-click="sortColumn('PickupTime', 'DESC')">
                                <span class="caret caret-reversed" ></span>
                                Pickup Time
                            </th>
                            <th class="sortable-column"
                                ng-if="sortBy == 'PickupTime' && sortCriteria == 'DESC'" 
                                ng-click="sortColumn('PickupTime', 'ASC')">
                                <span class="caret" ></span>
                                Pickup Time
                            </th>
                            <th>Dropoff Time</th>
                            <th>Pickup Address</th>
                            <th>Sender</th>
                            <th>Dropoff Address</th>
                            <th>Recipient</th>
                            <th>Fleet Manager</th>
                            <th class="sortable-column"
                                ng-if="sortBy !== 'Driver.FirstName' || isFirstSort"
                                ng-click="sortColumn('Driver.FirstName', 'ASC')">
                                Driver
                            </th>
                            <th class="sortable-column"
                                ng-if="sortBy == 'Driver.FirstName' && sortCriteria == 'ASC'" 
                                ng-click="sortColumn('Driver.FirstName', 'DESC')">
                                <span class="caret caret-reversed" ></span>
                                Driver
                            </th>
                            <th class="sortable-column"
                                ng-if="sortBy == 'Driver.FirstName' && sortCriteria == 'DESC'" 
                                ng-click="sortColumn('Driver.FirstName', 'ASC')">
                                <span class="caret" ></span>
                                Driver
                            </th>
                            <th>Customer</th>
                            <th>Pickup Type</th>
                            <th>Order Type</th>
                            <th class="sortable-column"
                                ng-if="sortBy !== 'CutOffTime' || isFirstSort"
                                ng-click="sortColumn('CutOffTime', 'ASC')">
                                Cutoff Time
                            </th>
                            <th class="sortable-column"
                                ng-if="sortBy == 'CutOffTime' && sortCriteria == 'ASC'" 
                                ng-click="sortColumn('CutOffTime', 'DESC')">
                                <span class="caret caret-reversed" ></span>
                                Cutoff Time
                            </th>
                            <th class="sortable-column"
                                ng-if="sortBy == 'CutOffTime' && sortCriteria == 'DESC'" 
                                ng-click="sortColumn('CutOffTime', 'ASC')">
                                <span class="caret" ></span>
                                Cutoff Time
                            </th>
                            <th class="sortable-column"
                                ng-if="sortBy !== 'DueTime' || isFirstSort"
                                ng-click="sortColumn('DueTime', 'ASC')">
                                Due Time
                            </th>
                            <th class="sortable-column"
                                ng-if="sortBy == 'DueTime' && sortCriteria == 'ASC'" 
                                ng-click="sortColumn('DueTime', 'DESC')">
                                <span class="caret caret-reversed" ></span>
                                Due Time
                            </th>
                            <th class="sortable-column"
                                ng-if="sortBy == 'DueTime' && sortCriteria == 'DESC'" 
                                ng-click="sortColumn('DueTime', 'ASC')">
                                <span class="caret" ></span>
                                Due Time
                            </th>
                            <th>Status</th>
                            <th>Total Failed Attempts</th>
                            <th>Failed Attempt</th>
                            <th>First Attempt</th>
                            <th>Second Attempt</th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading && displayed.length == 0">
                        <tr>
                            <td colspan="9" class="text-center">
                                No data found
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="9" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <th class="order-checkbox">
                            </th>
                            <th></th>
                            <th>
                                <div class="filter-table">
                                    <input 
                                        type="search" 
                                        class="form-control input-table" 
                                        value="" 
                                        ng-model="queryUserOrderNumber" 
                                        ng-keyup="searchOrder($event)">
                                </div>
                            </th>
                            <th>
                                <div class="filter-table">
                                    <input 
                                        id="date-picker" 
                                        type="text" 
                                        class="form-control input-table" 
                                        date-range-picker 
                                        ng-model="pickupDatePicker" 
                                        options="optionsDatepicker" />
                                </div>
                            </th>
                            <th>
                                <div class="filter-table">
                                    <input 
                                        id="date-picker" 
                                        type="text" 
                                        class="form-control input-table" 
                                        date-range-picker 
                                        ng-model="dropoffDatePicker" 
                                        options="optionsDatepicker" />
                                </div>
                            </th>
                            <th>
                                <div class="filter-table">
                                    <input 
                                        type="search" 
                                        class="form-control input-table" 
                                        value="" 
                                        ng-model="queryPickup" 
                                        ng-keyup="searchPickup($event)">
                                </div>
                            </th>
                            <th>
                                <div class="filter-table">
                                    <input 
                                        type="search" 
                                        class="form-control input-table" 
                                        value="" 
                                        ng-model="querySender" 
                                        ng-keyup="searchSender($event)">
                                </div>
                            </th>
                            <th>
                                <div class="filter-table">
                                    <input 
                                        type="search" 
                                        class="form-control input-table" 
                                        value="" ng-model="queryDropoff" 
                                        ng-keyup="searchDropoff($event)">
                                </div>
                            </th>
                            <th>
                                <div class="filter-table">
                                    <input 
                                        type="search" 
                                        class="form-control input-table" 
                                        value="" 
                                        ng-model="queryRecipient" 
                                        ng-keyup="searchRecipient($event)">
                                </div>
                            </th>
                            <th>
                                <div class="filter-table">
                                    <input 
                                        type="search" 
                                        class="form-control input-table" 
                                        value="" 
                                        ng-model="queryFleet" 
                                        ng-keyup="searchFleet($event)">
                                </div>
                            </th>
                            <th>
                                <div class="filter-table">
                                    <input 
                                        type="search" 
                                        class="form-control input-table" 
                                        value="" 
                                        ng-model="queryDriver" 
                                        ng-keyup="searchDriver($event)">
                                </div>
                            </th>
                            <th>
                                <div class="filter-table">
                                    <input 
                                        type="text" 
                                        class="form-control input-table" 
                                        value="" 
                                        ng-model="queryMerchant" 
                                        ng-keyup="searchMerchant($event)"
                                        uib-typeahead="customer for customer in getCustomers($viewValue)"
                                        typeahead-min-length="2"
                                        typeahead-wait-ms="500"
                                        typeahead-no-results="noResults"
                                        typeahead-loading="loadingLocations">
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                </div>
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </th>
                            <th>
                                <div class="filter-table">
                                    <ui-select ng-model="pickupType" 
                                        theme="selectize" 
                                        on-select="choosePickupType($item)" 
                                        class="booking-order-type">
                                        <ui-select-match class="input-table">{{$select.selected.key}}</ui-select-match>
                                        <ui-select-choices repeat="ot in pickupTypes | filter: $select.search" selected>
                                            <span class="input-table" ng-bind-html="ot.key | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </th>
                            <th>
                                <div class="filter-table">
                                    <ui-select ng-model="orderType" 
                                        theme="selectize" 
                                        on-select="chooseOrderType($item)" 
                                        class="booking-order-type">
                                        <ui-select-match class="input-table">{{$select.selected.key}}</ui-select-match>
                                        <ui-select-choices repeat="ot in orderTypes | filter: $select.search" selected>
                                            <span class="input-table" ng-bind-html="ot.key | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </th>
                            <th>
                                <div class="filter-table">
                                    <input 
                                        id="date-picker" 
                                        type="text" 
                                        class="form-control input-table" 
                                        ng-model="cutOffTime" 
                                        uib-datepicker-popup
                                        date:'yyyy-MM-dd'
                                        is-open="isCutOffTimeDatePickerOpen"
                                        ng-click="isCutOffTimeDatePickerOpen = !isCutOffTimeDatePickerOpen"
                                        ng-change="searchCutOffTime($event)" />
                                </div>
                            </th>
                            <th>
                                <div class="filter-table">
                                    <input 
                                        id="date-picker" 
                                        type="text" 
                                        class="form-control input-table" 
                                        ng-model="dueTime" 
                                        uib-datepicker-popup
                                        date:'yyyy-MM-dd'
                                        is-open="isDueTimeDatePickerOpen"
                                        ng-click="isDueTimeDatePickerOpen = !isDueTimeDatePickerOpen" 
                                        ng-change="searchDueTime($event)" />
                                </div>
                            </th>
                            <th>
                                <div class="filter-table">
                                    <ui-select ng-model="status" 
                                        theme="selectize" 
                                        on-select="chooseStatus($item)" 
                                        class="booking-order-type">
                                        <ui-select-match class="input-table">{{$select.selected.key}}</ui-select-match>
                                        <ui-select-choices repeat="ot in statuses | filter: $select.search" selected>
                                            <span class="input-table" ng-bind-html="ot.key | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </th>
                            <th>
                            </th>
                            <th>
                                <div class="filter-table">
                                    <ui-select ng-model="isAttempt" 
                                        theme="selectize" 
                                        on-select="chooseisAttempt($item)" 
                                        class="booking-order-type">
                                        <ui-select-match class="input-table">{{$select.selected.key}}</ui-select-match>
                                        <ui-select-choices repeat="ot in isAttempts | filter: $select.search" selected>
                                            <span class="input-table" ng-bind-html="ot.key | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </th>
                            <th>
                                <div class="filter-table">
                                    <input 
                                        id="date-picker" 
                                        type="text" 
                                        class="form-control input-table" 
                                        date-range-picker 
                                        ng-model="firstAttemptDatePicker" 
                                        options="optionsDatepicker"
                                        disabled/>
                                </div>
                            </th>
                            <th>
                                <div class="filter-table">
                                    <input 
                                        id="date-picker" 
                                        type="text" 
                                        class="form-control input-table" 
                                        date-range-picker 
                                        ng-model="secondAttemptDatePicker" 
                                        options="optionsDatepicker"
                                        disabled/>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                    <tbody ng-show="!isLoading && displayed.length > 0">
                        <tr ng-if="displayed"></tr>
                        <tr ng-repeat="order in displayed">
                            <td ng-click="$event.stopPropagation()">
                                <input type="checkbox" ng-change="prepareSelectedOrders()" ng-model="order.Selected" />
                            </td>
                            <td><a href=""><i class="fa fa-search-plus fa-lg" 
                                    ng-click="detailsPage(order.UserOrderID)"
                                    tooltip-placement="top" 
                                    uib-tooltip="View Details"></i></a></td>
                            <td>{{order.UserOrderNumber}} / {{order.WebOrderID}}</td>
                            <td>{{order.PickupTime | date:'MM/dd/yyyy HH:mm:ss a'}}</td>
                            <td>{{order.DropoffTime | date:'MM/dd/yyyy HH:mm:ss a'}}</td>
                            <td>{{order.PickupAddress.Address1}}</td>
                            <td>{{order.PickupAddress.FirstName}} {{order.PickupAddress.LastName}} /
                                {{order.PickupAddress.CountryCode}}-{{order.PickupAddress.MobileNumber}} /
                                {{order.PickupAddress.EmailID}}
                            </td>
                            <td>{{order.DropoffAddress.Address1}}</td>
                            <td>{{order.DropoffAddress.FirstName}} {{order.DropoffAddress.LastName}} /
                                {{order.DropoffAddress.CountryCode}}-{{order.DropoffAddress.MobileNumber}} /
                                {{order.DropoffAddress.EmailID}}
                            </td>
                            <td>{{order.Driver.Driver.FleetManager.CompanyDetail.CompanyName ||
                                    order.FleetManager.CompanyDetail.CompanyName}}</td>
                            <td>{{order.Driver.FirstName}} {{order.Driver.LastName}}</td>
                            <td>{{order.CustomerName}}</td>
                            <td>{{order.PickupType}}</td>
                            <td>{{order.OrderType}}</td>
                            <td>{{order.CutOffTime | date:'MM/dd/yyyy HH:mm:ss a'}}</td>
                            <td>{{order.DueTime | date:'MM/dd/yyyy HH:mm:ss a'}}</td>
                            <td>{{order.OrderStatus.OrderStatus}}</td>
                            <td>{{order.UserOrderAttempts.length}}</td>
                            <td>{{order.IsAttempt}}</td>
                            <td>{{order.Attempt[0] | date:'MM/dd/yyyy HH:mm:ss a'}}</td>
                            <td>{{order.Attempt[1] | date:'MM/dd/yyyy HH:mm:ss a'}}</td>
                        </tr>
                    </tbody>
                    <tfoot ng-show="!isLoading && displayed.length > 0">
                        <tr>
                            <td colspan="4">
                                <h5 class="text-primary"><strong>{{orderFound | number}} orders found</strong></h5>
                            </td>
                            <td colspan="9" 
                                class="text-center" 
                                st-pagination="" 
                                st-items-by-page="itemsByPage" 
                                st-displayed-pages='9' st-template='components/table/pagination.html'>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="importModal">
    <div class="header-wrapper">
        <h1>Import Orders</h1>
    </div>
    <div class="content-wrapper booking-popup notification-popup container-fluid">
        <div class="row-fluid">              
            <div class="label-import">
                Pickup Time :
            </div>  
            <p class="input-group">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group dateinput-import input-import">
                            <input type="text" class="form-control" data-ng-model="importedDatePicker" datetime="MM/dd/yyyy HH:mm:ss">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker 
                            data-before-render="beforeRender($dates)"
                            data-ng-model="importedDatePicker" 
                            data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"
                            data-on-set-time="onTimeSet(newDate, oldDate)"/>
                    </ul>
                </div>
            </p>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">                
            <div class="label-import">
                Merchant :
            </div>  
            <p class="input-group input-import">
                <ui-select class="hub-field select-field" 
                    ng-model="parent" 
                    theme="selectize" 
                    ng-disabled="disabled" 
                    on-select="chooseMerchant($item)">
                    <ui-select-match placeholder="Choose merchant">
                        {{ $select.selected.key }}
                    </ui-select-match>
                    <ui-select-choices repeat="m in merchants | filter: $select.search track by $index" selected>
                        <span ng-bind-html="m.key | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </p>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">                
            <div class="label-import">
                Fleet :
                <p class="label-notes">
                    *Set to 'All' to open orders to all logistic vendors
                </p>
            </div>  
            <p class="input-group input-import">
                <ui-select ng-model="fleet" 
                    theme="selectize" 
                    on-select="chooseCompanyOnModals($item)" 
                    class="booking-order-type">
                    <ui-select-match class="input-table">{{$select.selected.CompanyName}}</ui-select-match>
                    <ui-select-choices repeat="f in fleets | filter: $select.search track by $index" selected>
                        <span class="input-table" ng-bind-html="f.CompanyName | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </p>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid uploadXls">
            <div ngf-drop="uploadOrders($files)" 
                ngf-select="uploadOrders($files)" 
                ng-model="files" 
                class="drop-box" 
                ngf-drag-over-class="dragover" 
                ngf-multiple="true" 
                ngf-allow-dir="true" 
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" 
                ngf-pattern="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
                Drop <strong>.xlsx</strong> or click here to upload
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid" ng-if="error.length > 0 || uploaded.length > 0 || updated.length > 0">            
            <div ng-if="error.length > 0">
                <div ng-repeat="err in error track by $index">
                    <uib-alert type="danger">
                        <span ng-if="err.row">
                            Row {{err.row}} :
                        </span> 
                        <p ng-repeat="errorList in err.list track by $index">
                            {{errorList}}
                        </p>
                    </uib-alert>
                </div>
            </div>
            <div ng-if="uploaded.length > 0">
                <div ng-repeat="upload in uploaded track by $index">
                    <uib-alert type="success">
                        {{upload.WebOrderID}} is uploaded 
                    </uib-alert>
                </div>
            </div>
            <div ng-if="updated.length > 0">
                <div ng-repeat="update in updated track by $index">
                    <uib-alert type="success">
                        {{update.WebOrderID}} is updated 
                    </uib-alert>
                </div>
            </div>
        <div class="clearfix"></div>
    </div>
</script>
<script type="text/ng-template" id="exportModal">
    <div class="header-wrapper">
        <h1>Export Orders</h1>
    </div>
    <div class="content-wrapper booking-popup notification-popup container-fluid">
        <div class="row-fluid">
            <p class="label-date-export">
                From:
            </p>
            <p class="input-group input-date-export"> 
                <input type="text"
                    class="form-control"
                    ng-model="createdDatePicker.startDate"
                    uib-datepicker-popup
                    date:'yyyy-MM-dd'
                    is-open="isStartDatePickerOpen"
                    max-date="maxExportDate"
                    ng-click="isStartDatePickerOpen = !isStartDatePickerOpen" />
                <span class="input-group-btn">
                <button type="button"
                    class="btn btn-default"
                    ng-click="isStartDatePickerOpen = !isStartDatePickerOpen"><i class="glyphicon glyphicon-calendar"></i>
                </button>
            </p>
            <p class="label-date-export">
                To:
            </p>
            <p class="input-group input-date-export">
                <input type="text"
                    class="form-control"
                    ng-model="createdDatePicker.endDate"
                    uib-datepicker-popup
                    date:'yyyy-MM-dd'
                    is-open="isEndDatePickerOpen"
                    max-date="maxExportDate"
                    ng-click="isEndDatePickerOpen = !isEndDatePickerOpen" />
                <span class="input-group-btn">
                <button type="button"
                    class="btn btn-default"
                    ng-click="isEndDatePickerOpen = !isEndDatePickerOpen"><i class="glyphicon glyphicon-calendar"></i>
                </button>
            </p>
            <button class="btn btn-primary" ng-click="exportNormalOrders()">Old Format</button>  
            <button class="btn btn-primary" ng-click="exportUploadableOrders()">Import Format</button>  
            <button class="btn btn-primary" ng-click="exportCompletedOrders()">Completed Orders</button>            
        </div>
    </div>
</script>

<script type="text/ng-template" id="setPriceModal">
    <div class="header-wrapper">
        <h1>Update Price</h1>
    </div>
    <div class="content-wrapper booking-popup notification-popup container-fluid">
        <div class="row-fluid">                    
            <div class="label-import">
                New Price :
            </div> 
            <div class="input-import">
                <input type="number" ng-model="$parent.newPrice" class="form-control" />
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">
            <button class="btn btn-primary" ng-click="setPrice()">Update Price</button>              
        </div>
    </div>
</script>

<script type="text/ng-template" id="reassignFleetModal">
    <div class="header-wrapper">
        <h1>Reassign Fleet</h1>
    </div>
    <div class="content-wrapper booking-popup notification-popup container-fluid">
        <div class="row-fluid">                
            <div class="label-import">
                Fleet :
                <p class="label-notes">
                    *Set to 'All' to open orders to all logistic vendors
                </p>
            </div>  
            <p class="input-group input-import">
                <ui-select ng-model="fleet" 
                    theme="selectize" 
                    on-select="chooseCompanyOnModals($item)" 
                    class="booking-order-type">
                    <ui-select-match class="input-table">{{$select.selected.CompanyName}}</ui-select-match>
                    <ui-select-choices repeat="f in fleets | filter: $select.search track by $index" selected>
                        <span class="input-table" ng-bind-html="f.CompanyName | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </p>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">
            <button class="btn btn-primary" ng-click="reassignFleet()">Reassign Fleet</button>              
        </div>
    </div>
</script>

<script type="text/ng-template" id="setReturnWarehouseModal">
    <div class="header-wrapper">
        <h1>Return to Warehouse</h1>
    </div>
    <div class="content-wrapper booking-popup notification-popup container-fluid">
        <div ng-repeat="order in orders">
            <div ng-if="order.Selected" class="row-fluid">                
                <div class="label-import">
                    Reason {{order.UserOrderNumber}}:
                </div>  
                <p class="input-group input-import">
                    <ui-select ng-model="reason" 
                        theme="selectize" 
                        on-select="chooseReasonOnModals($item, order.UserOrderID)" 
                        class="booking-order-type">
                        <ui-select-match class="input-table">{{$select.selected.ReasonName}}</ui-select-match>
                        <ui-select-choices repeat="r in reasons | filter: $select.search track by $index" selected>
                            <span class="input-table" ng-bind-html="r.ReasonName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">
            <button class="btn btn-primary" ng-click="bulkReturnWarehouse()">Mark as Return Warehouse</button>              
        </div>
    </div>
</script>

<script type="text/ng-template" id="setReturnSenderModal">
    <div class="header-wrapper">
        <div class="col-md-12">
            <h1>Return to Sender</h1>
        </div>
    </div>
    <div class="content-wrapper booking-popup notification-popup container-fluid">
        <h4><b>{{(orders | filter: {Selected: true}).length}}</b> orders that will be affected</h4>
        <div ng-repeat="order in orders">
            <div ng-if="order.Selected" class="row-fluid">                
                <div class="col-md-12 text-center">
                    {{order.UserOrderNumber}}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">
            <button class="btn btn-primary" ng-click="bulkReturnSender()">Mark as Return Sender</button>              
        </div>
    </div>
</script>
