.container-order {
    background-color: #f1f1f1;
    height: 100%;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.container-order .first-row {
    margin-top: 10px;
    margin-left: 15px;
}

.container-order .first-row button.first-row-element {
    margin-right: 10px;
}

.container-order .first-row div.first-row-element {
    display: inline-block;
    margin-right: 10px;
}

.container-order .first-row div.first-row-separator {
    width: 40px;
}

.table-main-trip {
    font-size: 12px;
}

.filter-table {
    float: left;
    width: 100%;
}

.input-table {
    font-size: 12px;
}

.box-order-details {
    padding: 10px;
}

.order-title-box {
    font-weight: bold;
}

.order-top {
    color: #FF5A60;
    text-transform: uppercase;
}

.order-details {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0px !important;
}

.order-details-main-header {
    font-family: 'Avenir-Heavy';
    font-size: 15px;
    height: 60px;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.order-details-body {
    background: white;
    padding-bottom: 30px;
}

.order-details-body a:hover {
    color: #777777;
    text-decoration: none;
}

.order-detail-location-fix {
    margin-top: 20px;
}

.order-detail-from-address {
    margin-top: 10px;
}

.order-detail-circle {
    position: absolute;
    background: white none repeat scroll 0 0;
    border: 3px solid red;
    border-radius: 50%;
    color: red;
    height: 60px;

    right: 20px;
    top: 80px;
    width: 60px;
}

.order-detail-distance {
    left: 0;
    position: absolute;
    text-align: center;
    top: 12px;
    width: 58px;
    font-family: 'Avenir-Heavy';
}

.order-detail-distance-km {
    left: 20px;
    position: absolute;
    top: 29px;
}

.order-detail-from-delimiter {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.order-details-pickup {
    margin-top: 10px;
}

.order-details-header {
    color: #a8a8a8;
    padding-top: 10px;
    margin-top: 10px;
}

.order-details-header-fee {
    margin-top: 30px;
    color: #a8a8a8;
    padding-top: 10px;
    border-top: 1px solid #e6e6e6;
}

.order-details-fee {
    color: #37b392;
    font-family: 'Avenir-Heavy';
    font-size: 18px;
}


/* Order status */

.order-status-header {
    font-family: 'Avenir-Heavy';
    font-size: 15px;
    height: 60px;
    padding: 20px;
    width: 100%;
}

.order-status-body {
    margin-left: 25px;
    border-left: 3px solid #e8e8e8;
}

.order-status-container {
    margin-left: 40px;
}

.order-status-footer {
    margin-left: 20px;
    margin-top: 35px;
}

.order-status-container-header {
    color: #37b392;
    font-family: 'Avenir-Heavy';
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 15px;
}

.inactive {
    color: #ABABAB;
}

.order-status-container-body {
    font-size: 13px;
    margin-top: 5px;
}

.order-status-container-footer {
    color: #ABABAB;
    margin-bottom: 15px;
}

.order-status-container-dot {
    left: 30px;
    position: absolute;
}

.live-tracking-button {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background: #ff5c61;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-size: 16px;
}

.order-details-back {
    margin-left: 20px;
}

.order-details-back > a {
    color: #ABABAB;
    text-decoration: none;
}

.order-details-back > a:hover {
    color: #ABABAB;
    text-decoration: none;
}



.order-details-body > .summary-icon {
    padding-left: 33px;
}

.order-details-from-icon {
    text-align: right;
}

.order-status-receiver-title {
    font-family: 'Avenir-Heavy';
    font-size: 15px;
    padding: 5px;
    width: 100%;
    margin-top: 20px;
}
.order-status-receiver-body {
    padding-left: 5px;
}
.order-status-receiver-footer {
    padding-left: 5px;
    margin-bottom: 20px;
}

.caret-reversed {
  transform: rotate(180deg);
}

.sortable-column {
    color: #0000EE;
    cursor: pointer;
}

.address-buttons {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background: #ff5c61;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 3px;
    height: 35px;
}

.address-buttons > img {
    margin-right: 5px;
    position: relative;
    bottom: 3px;
}

.address-buttons:hover, .address-buttons:focus {
    color: #ffffff;
    text-decoration: none;
}

.clickableRow {
    cursor: pointer;
}

.order-table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #dddddd;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 25px;
    cursor: pointer;
}

.dragover {
    border: 5px dashed blue;
}

#reassignDriverModal table {
    width: 100%;
}

#reassignDriverModal table tr {
    height: 40px;
    border: solid;
    border-width: 1px;
}

#reassignDriverModal .modal-table {
    max-height: 400px;
    overflow: scroll;
}

#order-page table {
    width: 100%;
}

#order-page .table > thead > tr > th.order-checkbox, td.order-checkbox {
    min-width: 0px;
    width: 20px;
    text-align: center;
}

#order-page .table > thead > tr > th {
    border-bottom: 0px !important;
}

#order-page .table > thead > tr > th,
#order-page .table > tbody > tr > th,
#order-page .table > tbody > tr > td {
    width: 200px;
    min-width: 200px;
}

#order-page .row {
    margin: 10px 0 0 0;
}

#order-page uib-accordion .panel-group {
    margin-bottom: 0px;
}

#order-page uib-accordion h4 {
    font-size: 14px;
}

#order-page uib-accordion a:hover {
    color: black;
}

.label-date-export {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.input-date-export {
    float: left; 
    width: 140px;
}

#eds-textarea {
    height: 100px;
    width: 100%;
}

.checkbox-header {
    min-width: 30px !important;
    width: 30px !important;
}

.order-buttons {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background: #5cb85c;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding-top: 10px;
    font-size: 13px;
    border-radius: 3px;
    height: 35px;
}

.order-buttons > img {
    margin-right: 5px;
    position: relative;
    bottom: 3px;
}

.order-buttons:hover, .order-buttons:focus {
    color: #ffffff;
    text-decoration: none;
}

.order-buttons-support {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background: #ff5c61;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding-top: 10px;
    font-size: 13px;
    border-radius: 3px;
    height: 35px;
    margin-bottom: 10px;
}

.ngdialog.ngdialog-theme-default.import-orders .ngdialog-content {
    width: 650px;
}

.label-import {
    float: left;
    width: 170px;
}

.input-import {
    float: left;
    width: 300px;
    margin-left: 10px;
}

.dateinput-import {
    margin-top: -15px;
    margin-bottom: 15px;
}

.label-notes {
    font-size: 11px;
}

.ngdialog.ngdialog-theme-default.reassign-fleet .ngdialog-content {
    width: 650px;
}

.ngdialog.ngdialog-theme-default.set-price .ngdialog-content {
    width: 650px;
}

.content-set-limit {
    margin-top: 10px;
}

.content-choose-limit {
    width: 70px;
    float: left;
}

.label-limit {
    padding: 8px;
    font-size: 13px;
    padding-right:0;
    position: absolute;
}

.action-button {
    margin-left: -15px;
}

a {
    cursor: pointer;
}

.alert-big {
    width: 600px;
}

.failed-image {
    width: 150px;
    height: 200px;
}

/* Link to details page */
.order-table tr a i {
    visibility: hidden;
}

.order-table tr:hover a i {
    visibility: visible;
}

.order-buttons.col-xs-12 {
    margin-bottom: 5px;
}

.text-orange {
    color: #ff9900;
}

.label-import-margin {
    margin-top: 7px;
}

.margin-b-10 {
    margin-bottom: 10px;
}

.opacity-05 {
    opacity: 0.5 !important;
}

.header-background-order-detail {
    text-align: left;
    color: #fff;
    background: #7a4078;
    padding: 10px 15px;
}

.bg-white {
    background-color: #fff;
};

.reroute-modal .content-wrapper {
    padding-bottom: 20px;
    padding-top: 10px;
}

.reroute-modal .content-wrapper .row-fluid {
    width: 100%;
}

.reroute-modal .content-wrapper .row-fluid .input-import,
.reroute-modal .content-wrapper .row-fluid .label-import {
    display: table-cell;
}

.reroute-modal .content-wrapper .row-fluid .label-import {
    width: 30%;
}

.reroute-modal .content-wrapper .row-fluid .input-import {
    width: 65%;
}

.reroute-modal .content-wrapper .control-label {
    width: 30%;
}

.reroute-modal .content-wrapper .form-control,
.reroute-modal .content-wrapper .control {
    width: 65%;
    display: inline-block;
}

.reroute-modal .content-wrapper .submit-btn {
    margin-top: 10px;
}

.ngdialog {
    z-index: 900 !important;
}

.order-table {
     max-height: 550px;
     margin-top: 20px;
}

.order-table table {
     margin: 0px !important;
}

.order-table tfoot td {
     border: 0px !important;
}

.order-table .pagination {
     margin: 0px !important;
}

.order-table tfoot {
    position: absolute;
    bottom: -50px;
}

.display-block {
    display: block;
}

.order-table-list {
    overflow: auto;
}

#order-navigation {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    background: #fff;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
}

#toggle-navigation > button {
    border-radius: 0;
    border-top: 0px
}

.overflow-visible {
    overflow: visible;
};
