.manage-district-form-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 0 !important;
}

.maps-district {
    width: 650px; 
    height: 480px; 
    background-color: rgb(229, 227, 223); 
    overflow: hidden; 
    position: inherit;
}

.manage-zipcodes-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 0 !important;
    width: 400px;
}

#district-detail button {
    margin-top: 20px;
}