<div class="container-fluid container-order" id="order-page">
    <div class="clearfix"></div>
    <div class="row-fluid box-header">
        <div>
            <div class="col-md-6 col-sm-7">
                <div class="hub-title-box">
                    Returned Order Management
                </div>
            </div>
            <div class="col-md-3 col-sm-5 pull-right">
                <div class="hub" ng-include="'components/user/user.html'"></div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="hub-search">
                </div>
            </div>
        </div>
    </div>
    
    <div class="">
        <div class="col-md-12">
            <table st-table="displayed" st-pipe="callServer" class="table table-hover table-main-trip order-table">
                <thead class="hubs-table-head" ng-show="!isLoading && displayed.length > 0">
                    <tr>
                        <th>AWB / Web Order ID</th>
                        <th>Pickup Time</th>
                        <th>Dropoff Time</th>
                        <th>Pickup Address</th>
                        <th>Sender</th>
                        <th>Dropoff Address</th>
                        <th>Recipient</th>
                        <th>Driver</th>
                        <th>Customer</th>
                        <th>Pickup Type</th>
                        <th>Order Type</th>
                        <th>Current Status</th>
                        <th>Return Time</th>
                    </tr>
                </thead>
                <tbody ng-show="!isLoading && displayed.length == 0">
                    <tr>
                        <td colspan="9" class="text-center">
                            No data found
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="isLoading">
                    <tr>
                        <td colspan="9" class="text-center">Loading ... </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th>
                            <div class="filter-table">
                                <input 
                                    type="search" 
                                    class="form-control input-table" 
                                    value="" 
                                    ng-model="queryUserOrderNumber" 
                                    ng-keyup="searchOrder($event)">
                            </div>
                        </th>
                        <th>
                            <div class="filter-table">
                                <input 
                                    id="date-picker" 
                                    type="text" 
                                    class="form-control input-table" 
                                    date-range-picker 
                                    ng-model="pickupDatePicker" 
                                    options="optionsDatepicker" />
                            </div>
                        </th>
                        <th>
                            <div class="filter-table">
                                <input 
                                    id="date-picker" 
                                    type="text" 
                                    class="form-control input-table" 
                                    date-range-picker 
                                    ng-model="dropoffDatePicker" 
                                    options="optionsDatepicker" />
                            </div>
                        </th>
                        <th>
                            <div class="filter-table">
                                <input 
                                    type="search" 
                                    class="form-control input-table" 
                                    value="" 
                                    ng-model="queryPickup" 
                                    ng-keyup="searchPickup($event)">
                            </div>
                        </th>
                        <th>
                            <div class="filter-table">
                                <input 
                                    type="search" 
                                    class="form-control input-table" 
                                    value="" 
                                    ng-model="querySender" 
                                    ng-keyup="searchSender($event)">
                            </div>
                        </th>
                        <th>
                            <div class="filter-table">
                                <input 
                                    type="search" 
                                    class="form-control input-table" 
                                    value="" ng-model="queryDropoff" 
                                    ng-keyup="searchDropoff($event)">
                            </div>
                        </th>
                        <th>
                            <div class="filter-table">
                                <input 
                                    type="search" 
                                    class="form-control input-table" 
                                    value="" 
                                    ng-model="queryRecipient" 
                                    ng-keyup="searchRecipient($event)">
                            </div>
                        </th>
                        <th>
                            <div class="filter-table">
                                <input 
                                    type="search" 
                                    class="form-control input-table" 
                                    value="" 
                                    ng-model="queryDriver" 
                                    ng-keyup="searchDriver($event)">
                            </div>
                        </th>
                        <th>
                            <div class="filter-table">
                                <input 
                                    type="text" 
                                    class="form-control input-table" 
                                    value="" 
                                    ng-model="queryMerchant" 
                                    ng-keyup="searchMerchant($event)"
                                    uib-typeahead="customer for customer in getCustomers($viewValue)"
                                    typeahead-min-length="2"
                                    typeahead-wait-ms="500"
                                    typeahead-no-results="noResults"
                                    typeahead-loading="loadingLocations">
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                            </div>
                            <div ng-show="noResults">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                        </th>
                        <th>
                            <div class="filter-table">
                                <ui-select ng-model="pickupType" 
                                    theme="selectize" 
                                    on-select="choosePickupType($item)" 
                                    class="booking-order-type">
                                    <ui-select-match class="input-table">{{$select.selected.key}}</ui-select-match>
                                    <ui-select-choices repeat="ot in pickupTypes | filter: $select.search" selected>
                                        <span class="input-table" ng-bind-html="ot.key | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </th>
                        <th>
                            <div class="filter-table">
                                <ui-select ng-model="orderType" 
                                    theme="selectize" 
                                    on-select="chooseOrderType($item)" 
                                    class="booking-order-type">
                                    <ui-select-match class="input-table">{{$select.selected.key}}</ui-select-match>
                                    <ui-select-choices repeat="ot in orderTypes | filter: $select.search" selected>
                                        <span class="input-table" ng-bind-html="ot.key | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </th>
                        <th>
                            <div class="filter-table">
                                <ui-select ng-model="status" 
                                    theme="selectize" 
                                    on-select="chooseStatus($item)" 
                                    class="booking-order-type">
                                    <ui-select-match class="input-table">{{$select.selected.key}}</ui-select-match>
                                    <ui-select-choices repeat="ot in statuses | filter: $select.search" selected>
                                        <span class="input-table" ng-bind-html="ot.key | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </th>
                        <th>
                        </th>
                    </tr>
                </tbody>
                <tbody ng-show="!isLoading && displayed.length > 0">
                    <tr ng-if="displayed"></tr>
                    <tr ng-click="detailsPage(order.UserOrderReturnedID)" class="clickableRow" ng-repeat="order in displayed">
                        <td>{{order.UserOrder.UserOrderNumber}} / {{order.UserOrder.WebOrderID}}</td>
                        <td>{{order.UserOrder.PickupTime | date:'MM/dd/yyyy HH:mm:ss a'}}</td>
                        <td>{{order.UserOrder.DropoffTime | date:'MM/dd/yyyy HH:mm:ss a'}}</td>
                        <td>{{order.UserOrder.PickupAddress.Address1}}</td>
                        <td>{{order.UserOrder.PickupAddress.FirstName}} {{order.UserOrder.PickupAddress.LastName}} /
                            {{order.UserOrder.PickupAddress.CountryCode}}-{{order.UserOrder.PickupAddress.MobileNumber}} /
                            {{order.UserOrder.PickupAddress.EmailID}}
                        </td>
                        <td>{{order.UserOrder.DropoffAddress.Address1}}</td>
                        <td>{{order.UserOrder.DropoffAddress.FirstName}} {{order.UserOrder.DropoffAddress.LastName}} /
                            {{order.UserOrder.DropoffAddress.CountryCode}}-{{order.UserOrder.DropoffAddress.MobileNumber}} /
                            {{order.UserOrder.DropoffAddress.EmailID}}
                        </td>
                        <td>{{order.Driver.FirstName}} {{order.Driver.LastName}}</td>
                        <td>{{order.UserOrder.CustomerName}}</td>
                        <td>{{order.UserOrder.PickupType}}</td>
                        <td>{{order.UserOrder.OrderType}}</td>
                        <td>{{order.UserOrder.OrderStatus.OrderStatus}}</td>
                        <td>{{order.CreatedDate | date:'MM/dd/yyyy HH:mm:ss a'}}</td>
                    </tr>
                </tbody>
                <tfoot ng-show="!isLoading && displayed.length > 0">
                    <tr>
                        <td colspan="1">
                            <h5 class="text-primary"><strong>{{orderFound | number}} orders found</strong></h5>
                        </td>
                        <td colspan="4" 
                            class="text-center" 
                            st-pagination="" 
                            st-items-by-page="itemsByPage" 
                            st-displayed-pages='9' st-template='components/table/pagination.html'>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
