/* Main page styles */

/* border between bootstrap column */
.border-between > [class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}
.border-between > [class*='col-']:first-child:before {
    display: none;
}
/* end of border between bootstrap column */

.container-map {
    margin-left: 100px;
    background-color: #f1f1f1;
    height: 100%;
    position: relative;
}

.box-header {
    height: 90px;
    background: white;
}

.map-title-box {
    font-weight: bold;
    padding-top: 32px;
    font-weight: bold;
    font-size: 21px;
    padding-left: 20px;
    text-transform: uppercase;
}

.map-content {
    padding: 20px;
}

.map-search {
    height: 90px;
    width: 100%;
    padding-top: 19px;
}

.map-search input {
    height: 50px;
}

.map-search button {
    height: 50px;
}

#map {
    height: 530px;
}