<div class="container-fluid container-hubs">
    <div class="clearfix"></div>
    <div class="row-fluid box-header">
        <div>
            <div class="col-md-6 col-sm-7">
                <div class="hub-title-box">
                    Ecommerce Pricing
                </div>
            </div>
            <div class="col-md-3 col-sm-5 pull-right">
                <div class="hub" ng-include="'components/user/user.html'"></div>
            </div>
            <div class="col-md-3 col-sm-12">
            </div>
        </div>
    </div>
   
    <div class="container-content">
        <div class="row">
            <div class="col-md-3">
                Select Webstore :
                <ui-select ng-model="input.webstore"
                    theme="bootstrap"
                    tagging="tagHandler"
                    on-select="chooseWebstore($item)">
                    <ui-select-match class="ui-select-match" placeholder="Search or choose webstore">
                        {{ $select.selected.key }}
                    </ui-select-match>
                    <ui-select-choices class="ui-select-choices" repeat="m in webstores | filter: $select.search" selected>
                        <span ng-bind-html="m.key | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-3">
                Select Pickup Type :
                <ui-select ng-model="input.pickup"
                    theme="bootstrap"
                    on-select="choosePickup($item)">
                    <ui-select-match class="ui-select-match" placeholder="Choose pickup type">
                        {{ $select.selected.key }}
                    </ui-select-match>
                    <ui-select-choices class="ui-select-choices" repeat="m in pickupTypes | filter: $select.search" selected>
                        <span ng-bind-html="m.key | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
    </div>
    <div class="row">
        <uib-tabset active="active" class="col-md-12">
            <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled" class="tab-button" active="tabs[$index].active" ng-click="chooseTab(tab.pricingType); tabs[$index].active = true">
                <div class="row no-margin bg-white tab-border" style="padding-bottom: 15px">
                    <br>
                    <div class="col-md-4">
                        <p class="label-input">
                        Select {{tab.type}}
                        </p>
                        <ui-select ng-model="tab.model"
                            theme="bootstrap"
                            class="col-md-9 no-padding"
                            on-select="tab.choose($item)">
                            <ui-select-match class="ui-select-match" placeholder="Choose {{tab.type}}">
                                {{ $select.selected.key }}
                            </ui-select-match>
                            <ui-select-choices class="ui-select-choices" repeat="m in tab.models | filter: $select.search" selected>
                                <span ng-bind-html="m.key | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <button class="col-md-2 btn order-buttons first-row-element" ng-disable="table.error" ng-click="savePrice()">Save</button>
                    <p ng-show="table.error" class="text-danger col-md-6 label-input">{{table.error}}</p>
                    <p ng-show="table.success" class="text-success col-md-6 label-input">{{table.success}}</p>
                </div>
            </uib-tab>
        </uib-tabset>
        <div class="col-md-12">
            <div class="text-center bg-white tab-border" ng-if="blankCounter !== 0 && input.webstore.value === 0" >
                <span class="red">
                    <strong>WARNING!</strong> {{blankCounter}}
                </span> 
                    <ng-pluralize count="blankCounter" when="{ '1': 'price is', 'other': 'prices are'}"></ng-pluralize>
                     still not assigned. Please fill the yellow boxes.
            </div>
        </div>
        <div class="col-md-12">
            <div class="bg-white" style="overflow: hidden; min-height: 300px">
                <hot-table settings="{contextMenu: ['undo', 'redo'], afterChange: afterChange, beforeChange: beforeChange}"
                    col-headers="table.colHeaders"
                    datarows="table.data"
                    columns="table.columns">
                </hot-table>
            </div>
            <div class="col-md-12 no-padding bg-white tab-border" style="border-bottom: 1px solid #DDDDDD">
                <h6><strong>Note:</strong> <span class="red">Red prices</span> is from master / default price</h6>
            </div>
        </div>
    </div>
</div>