
* {
    font-family: Helvetica,serif;
}

.grid {
  height: 400px;
}

.ui-grid-header-cell {
    height: 40px;
    word-wrap: break-word;
}

.ui-grid-header-cell .ui-grid-cell-contents {
    text-align: center;
}

.ui-grid-header-cell .ui-grid-header-cell-label {
    font-size: 12px;
}

.ui-grid-invisible {
    display: none;
}

.ui-grid-cell-contents {
    white-space: normal;
}

.red {
    color: red;
}

.text-left {
    text-align: left;
}

.blank {
    background-color: yellow !important;
}

.bg-white {
    background: #FFFFFF;
}

.tab-button {
    background: #7A4078;
}

.tab-button > a {
    color: #FFFFFF;
    border-radius: 0 !important;
}

.tab-button > a:hover, .tab-button > a:focus {
    background: #FFFFFF !important;
    color: #555555;
}

.tab-border {
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}

.cell-red {
    text-align: right;
    margin-bottom: 0;
    color: red !important;
}

.htCore td {
    text-align: right;
}

.htCore td.htDimmed {
    text-align: left;
}

.colHeader {
    text-transform: capitalize;
}

.padding-b-15 {
    padding-bottom: 15px;
}

.pricing-grid {
    overflow: hidden; 
    min-height: 300px;
}