<div ng-include="'components/sidebar/sidebar.html'"></div>
<div class="container-fluid container-hubs">
    <div class="clearfix"></div>
    <div class="row-fluid box-header">
        <div>
            <div class="col-md-6 col-sm-7">
                <div class="hub-title-box">
                    Ecommerce Pricing
                </div>
            </div>
            <div class="col-md-3 col-sm-5 pull-right">
                <div class="hub" ng-include="'components/user/user.html'"></div>
            </div>
            <div class="col-md-3 col-sm-12">
            </div>
        </div>
    </div>
   
    <div class="booking-process">
        <div class="container-fluid cust-container">
            <div class="row">
                <div class="col-md-3">
                    Select Webstore :
                    <ui-select ng-model="ctrl.webstore"
                        theme="bootstrap"
                        on-select="chooseWebstore($item)">
                        <ui-select-match placeholder="Search or choose webstore">
                            {{ $select.selected.key }}
                        </ui-select-match>
                        <ui-select-choices repeat="m in webstores | filter: $select.search" selected>
                            <span ng-bind-html="m.key | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-3">
                    Select Pickup Type :
                    <ui-select ng-model="ctrl.pickup"
                        theme="bootstrap"
                        on-select="choosePickup()">
                        <ui-select-match placeholder="Choose pickup type">
                            {{ $select.selected.key }}
                        </ui-select-match>
                        <ui-select-choices repeat="m in pickupTypes" selected>
                            <span ng-bind-html="m.key"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-2">
                    Select Vehicle Type :
                    <ui-select ng-model="ctrl.vehicle"
                        theme="bootstrap"
                        on-select="chooseVehicle()">
                        <ui-select-match placeholder="Choose vehicle type">
                            {{ $select.selected.Name }}
                        </ui-select-match>
                        <ui-select-choices repeat="m in vehicleTypes" selected>
                            <span ng-bind-html="m.Name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-2">
                    Select Weight :
                    <ui-select ng-model="ctrl.weight"
                        theme="bootstrap"
                        on-select="chooseWeight()">
                        <ui-select-match placeholder="Choose weight">
                            {{ $select.selected.description }}
                        </ui-select-match>
                        <ui-select-choices repeat="m in weight" selected>
                            <span ng-bind-html="m.description"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-2">
                    Select Discount :
                    <ui-select ng-model="ctrl.discount"
                        theme="bootstrap"
                        on-select="chooseDiscount()">
                        <ui-select-match placeholder="Select discount">
                            {{ $select.selected.description }}
                        </ui-select-match>
                        <ui-select-choices repeat="m in discount" selected>
                            <span ng-bind-html="m.description"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
        </div>
        <div class="red text-center" ng-if="blankCounter !== 0">
            <strong>WARNING!</strong> {{blankCounter}} 
                <ng-pluralize count="blankCounter" when="{ '1': 'price', 'other': 'prices'}"></ng-pluralize>
                 is still not assigned
        </div>
        <div ui-grid="gridOptions" class="grid" ui-grid-edit ui-grid-pinning ui-grid-cellNav></div>
        <h6><strong>Note:</strong> <span class="red">Red prices</span> is from master / default price</h6>
    </div>
</div>