.cust-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 0 !important;
}

* {
    font-family: Helvetica,serif;
}

.myGrid {
    width: 500px;
    height: 250px;
  }

.ui-grid-header-cell {
    height: 40px;
    word-wrap: break-word;
}

.ui-grid-header-cell .ui-grid-cell-contents {
    text-align: center;
}

.ui-grid-header-cell .ui-grid-header-cell-label {
    font-size: 12px;
}

.ui-grid-invisible {
    display: none;
}

.ui-grid-cell-contents {
    white-space: normal;
}

.red {
    color: red;
}

.text-left {
    text-align: left;
}