'use strict';

function config() {
    var envConfig = env();
    var additionalConfig = {

    };
    var config = _.extend({}, envConfig, additionalConfig);
    return config;
}

var app = angular.module('config', ['ui.router', 'env']);
app.constant('config', (config)());