'use strict';

var app = angular.module('envConfig', ['ui.router']);

function envConfig() {
    var envConfig = {
        features: {
            order: {
                reassign_driver: true,
                reassign_fleet: true,
                set_price: true,
                cancel: true,
                mark_delivered: true,
                bulk_mark_delivered: true,
                return_sender: true,
                copy_cancelled: true,
                bulk_reassign_driver: true,
                bulk_return_sender: true,
                bulk_return_warehouse: true,
                bulk_return_sender: true,
                bulk_set_pickup: true,
                reroute: true
            },
            deliveryDistribution: {
                menu: true
            },
            driverSchedule: {
                menu: true
            }
        }
    };
    return envConfig;
}

app.constant('envConfig', (envConfig)());
