/* User section */

.user {
    padding-right: 35px;
    padding-top: 20px;
    height: 90px;
    width: 100%;
    min-width: 263px;
}

a.avatar-circle-container {
    float: right;
    width: 50px;
    height: 50px;
    text-decoration: none;
    outline: none;
}

.avatar-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 35px;
    color: #000;
    line-height: 47px;
    text-align: center;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.popover-content {
    padding-left: 0;
    padding-right: 22px;
}

.user-name {
    margin-right: 15px;
    float: right;
    position: relative;
    top: 15px;
}

.user-list li {
    margin-top: 13px;
    list-style-type: none;
    cursor: pointer;
    margin-left: -15px;
}

/* Order */

.order .popover {
    left: auto !important;
    right: 50px !important;
}

.order .arrow {
    margin-left: 14px !important;
}

.order .arrow:after {
    margin-left: -8px !important;
}


/* Booking section */

.booking .user > .popover {
    left: auto !important;
    right: 35px !important;
}

.booking .user {
    position: relative !important;
    top: 15px;
}

.booking .arrow {
    margin-left: 12px !important;
}

.booking .arrow:after {
    margin-left: -10px !important;
}

