<div class="container-fluid container-hubs">
    <div class="clearfix"></div>
    <div class="row-fluid box-header">
        <div>
            <div class="col-md-6 col-sm-7">
                <div class="hub-title-box">
                    Webstore Management
                </div>
            </div>
            <div class="col-md-3 col-sm-5 pull-right">
                <div class="hub" ng-include="'components/user/user.html'"></div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="hub-search">
                </div>
            </div>
        </div>
    </div>
    
    <div class="webstore-details">
        <div class="container-fluid hub-container pull-left">
            <form class="form" name="hubForm" novalidate>
                <div class="row-fluid">
                    <div class="label-input">
                        Profile picture :
                    </div>
                    <div class="input-component col-md-8">
                        <img    class="picture-circle" 
                            ng-src="{{webstore.ProfilePicture}}" 
                            alt="Profile Picture"/>
                        <button class="btn btn-default" ngf-select="uploadPic($file)" ng-model="file" ngf-model-invalid="errorFile"
                                type="file" accept="image/*" ngf-max-size="2MB">Upload
                        </button>
                        <div style="font:smaller">
                            <div class="report-upload">
                                {{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                            </div>
                            <div class="progress" ng-show="f.progress >= 0 && !uploadError">
                                <div style="width:{{f.progress}}%"  
                                     ng-bind="f.progress + '%'"></div>
                            </div>
                        </div>     
                        {{errorMsg}}
                    </div>
                </div>
                <div class="row-fluid">                
                    <div class="label-input">
                        Hub* :
                    </div>  
                    <ui-select class="hub-field select-field" 
                        ng-model="hub" 
                        theme="selectize" 
                        ng-disabled="disabled"
                        required
                        on-select="chooseHub($item)">
                        <ui-select-match placeholder="Choose hub">
                            {{ $select.selected.key }}
                        </ui-select-match>
                        <ui-select-choices repeat="m in hubs" selected>
                            <span ng-bind-html="m.key"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="row-fluid">                    
                    <div class="label-input">
                        First Name* :
                    </div>  
                    <div class="hub-field">
                        <input ng-model="webstore.FirstName"
                            type="text"
                            name="FirstName"
                            value=""
                            placeholder="FirstName"
                            required
                            class="first form-control" />
                    </div>
                </div>
                <div class="row-fluid">                    
                    <div class="label-input">
                        Last Name :
                    </div>  
                    <div class="hub-field">
                        <input ng-model="webstore.LastName"
                            type="text"
                            name="LastName"
                            value=""
                            placeholder="LastName"
                            class="first form-control" />
                    </div>
                </div>
                <div class="row-fluid">                    
                    <div class="label-input">
                        Email* :
                    </div>  
                    <div class="hub-field">
                        <input ng-model="webstore.Email"
                            type="email"
                            name="Email"
                            value=""
                            placeholder="Email"
                            required
                            class="first form-control" />
                    </div>
                </div>
                <div ng-if="addPage" class="row-fluid">                    
                    <div class="label-input">
                        Password* :
                    </div>  
                    <div class="hub-field">
                        <input ng-model="webstore.Password"
                            type="password"
                            name="Password"
                            value=""
                            placeholder="Password"
                            required
                            class="first form-control" />
                    </div>
                </div>
                <div ng-show="updatePage" class="row-fluid">                    
                    <div class="label-input">
                        Password* :
                    </div>  
                    <div class="hub-field">
                        <input value="Change Password"
                            class="first form-control" 
                            type="button" 
                            ng-hide="changePass" 
                            ng-click="changePass = true" />
                        <input ng-show="changePass" ng-model="webstore.Password"
                            type="password"
                            name="Password"
                            value=""
                            placeholder="Password"
                            class="first form-control" />
                    </div>
                </div>
                <div class="row-fluid">                    
                    <div class="label-input">
                        Phone* :
                    </div>  
                    <div class="hub-field">
                        <input ng-model="webstore.PhoneNumber"
                            type="text"
                            name="PhoneNumber"
                            value=""
                            placeholder="PhoneNumber"
                            required
                            class="first form-control" />
                    </div>
                </div>
                <div class="row-fluid">                    
                    <div class="label-input">
                        Address* :
                    </div> 
                    <div class="hub-field">
                        <input id="us2-address" 
                            ng-model="webstore.UserAddress.Address1" 
                            type="text" 
                            name="address1" 
                            value="" 
                            placeholder="Address" 
                            required
                            class="first form-control" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="label-input">
                        Latitude* :
                    </div>    
                    <div class="hub-field">
                        <input id="us2-lat" 
                            ng-model="webstore.UserAddress.Latitude" 
                            type="text" 
                            name="latitude" 
                            value="" 
                            placeholder="Latitude" 
                            required
                            class="first form-control" />
                    </div>         
                    <div class="label-input">
                        Longitude* :
                    </div>     
                    <div class="hub-field"> 
                        <input id="us2-lon" 
                            ng-model="webstore.UserAddress.Longitude" 
                            type="text" 
                            name="longitude" 
                            value="" 
                            placeholder="Longitude" 
                            required
                            class="first form-control" /> 
                    </div>
                <div class="clearfix"></div>
                <div class="row-fluid">                    
                    <div class="label-input">
                        Country* :
                    </div> 
                    <div class="hub-field">
                        <input type="text" 
                            required
                            ng-model="webstore.UserAddress.Country" 
                            placeholder="Country" 
                            uib-typeahead="address for address in getCountries($viewValue)" 
                            typeahead-loading="loadingLocationsCountry" 
                            typeahead-no-results="noResultsCountry" 
                            class="form-control" />
                        <i ng-show="loadingLocationsCountry" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResultsCountry">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="label-input">
                        State* :
                    </div> 
                    <div class="hub-field">
                        <input type="text" 
                            required
                            ng-model="webstore.UserAddress.State" 
                            placeholder="State" 
                            uib-typeahead="address for address in getStates($viewValue)" 
                            typeahead-loading="loadingLocationsState" 
                            typeahead-no-results="noResultsState" 
                            class="form-control" />
                        <i ng-show="loadingLocationsState" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResultsState">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">                    
                    <div class="label-input">
                        City* :
                    </div> 
                    <div class="hub-field">
                        <input ng-model="webstore.UserAddress.City"
                            type="text"
                            name="city"
                            value=""
                            placeholder="City"
                            required
                            class="first form-control" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">                    
                    <div class="label-input">
                        Zip Code* :
                    </div> 
                    <div class="hub-field">
                        <input ng-model="webstore.UserAddress.ZipCode"
                            type="text"
                            name="zipcode"
                            value=""
                            placeholder="Zipcode"
                            required
                            class="first form-control">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">                    
                    <div class="label-input">
                        Post Paid Payment :
                    </div> 
                    <ui-select class="hub-field select-field" 
                        ng-model="payment" 
                        theme="selectize" 
                        ng-disabled="disabled"
                        required
                        on-select="choosePayment($item)">
                        <ui-select-match placeholder="Choose payment">
                            {{ $select.selected.key }}
                        </ui-select-match>
                        <ui-select-choices repeat="m in payments" selected>
                            <span ng-bind-html="m.key"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">                    
                    <div class="label-input">
                        Allow COD :
                    </div> 
                    <div class="hub-field">
                        <input ng-model="webstore.AllowCOD"
                            type="checkbox"
                            name="allowCod"
                            value="">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="label-input">
                        COD Commission (%)* :
                    </div>
                    <div class="hub-field" ng-class="{'has-error': !hubForm.codCommission.$valid}">
                        <input ng-model="webstore.WebstoreCompany.CODCommission"
                            type="number"
                            name="codCommission"
                            value=""
                            placeholder="COD Commission"
                            required
                            min="0"
                            max="100"
                            class="first form-control" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">                    
                    <div class="label-input">
                        Product Categories :
                    </div> 
                    <div class="hub-field">
                        <input ng-model="webstore.WebstoreCompany.Categories"
                            type="text"
                            name="categories"
                            value=""
                            class="first form-control" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">                    
                    <div class="label-input">
                        Average Weight :
                    </div> 
                    <div class="hub-field">
                        <input ng-model="webstore.WebstoreCompany.AverageWeights"
                            type="text"
                            name="weight"
                            value=""
                            class="first form-control" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">                    
                    <div class="label-input">
                        Interests :
                    </div> 
                    <div class="hub-field">
                        <input ng-model="webstore.WebstoreCompany.PickupOptions"
                            type="text"
                            name="pickupOption"
                            value=""
                            class="first form-control" />
                    </div>
                </div>
                <div class="row-fluid" ng-show="updatePage">                    
                    <div class="label-input">
                        Referral :
                    </div> 
                    <div class="label-input" style="text-indent:14px">
                        {{webstore.WebstoreCompany.Source ? webstore.WebstoreCompany.Source : "No referral"}}
                    </div>
                </div>
                <div ng-if="addPage" class="row-fluid">
                    <input type="submit" class="hub-buttons" value="Create Webstore" ng-click="createWebstore(hubForm)"></input>
                </div>
                <div ng-if="updatePage" class="row-fluid">
                    <input type="submit" class="hub-buttons" value="Update Webstore" ng-click="updateWebstore(hubForm)"></input>
                </div>
                <div ng-if="updatePage && webstore.StatusID == 1" class="row-fluid">
                    <input type="submit" class="hub-buttons webstore-verify btn-primary" value="Verify Webstore" ng-click="verifyWebstore(hubForm)"></input>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6 col-xs-12 pull-left no-padding webstore-info">

        <div ng-show="parentWebstore" class="header-edit-webstore">
            <h5>
                <b>Webstore Parent</b>
            </h5>
        </div>
        <table ng-show="parentWebstore" t-table="parentWebstore" class="table table-hover webstore-table">
            <thead class="hubs-table-head">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Payment</th>
                    <th>Allow COD</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{parentWebstore.FirstName}} {{parentWebstore.LastName}}</td>
                    <td>{{parentWebstore.Email}}</td>
                    <td>{{parentWebstore.PhoneNumber}}</td>
                    <td class="webstore-cell">{{parentWebstore.WebstoreCompany.PostPaidPayment ? "Postpaid" : "Prepaid"}}</td>
                    <td class="webstore-cell">{{parentWebstore.WebstoreCompany.AllowCOD ? "Yes" : "No"}}</td>
                </tr>
            </tbody>
        </table>

        <div ng-show="childrenWebstore.length > 0" class="header-edit-webstore">
            <h5>
                <b>Webstore Children</b> 
                <span>({{childrenWebstore.length}} Children)</span>
                <button 
                    ng-hide="showCreateChild" 
                    ng-click="showCreateChild = true" 
                    class="btn btn-sm btn-default pull-right">Create Child</button>
                <button 
                    ng-show="showCreateChild" 
                    ng-click="showCreateChild = false" 
                    class="btn btn-sm btn-default pull-right">Cancel Create</button>
            </h5>
        </div>
        <div ng-show="showCreateChild" class="row no-margin createWebstoreChild">
            <div class="col-xs-12 no-padding">
                <div class="form-group">
                    <div class="form-label col-md-2">
                        <p class="no-margin">Create Child</p>
                    </div>
                    <div class="form-input col-md-4">
                        <input ng-model="input.merchantID" 
                            type="text" 
                            name="merchantID" 
                            class="form-control input-md" 
                            placeholder="Merchant ID" />
                    </div>
                    <div class="form-input col-md-4">
                        <ui-select ng-model="newChild" 
                            theme="selectize" 
                            tagging="tagHandler"
                            on-select="chooseWebstore($item)" 
                            class="booking-order-type input-md">
                            <ui-select-match class="input-table">{{$select.selected.text}}</ui-select-match>
                            <ui-select-choices repeat="ot in allWebstores | filter: $select.search" selected>
                                <span class="input-table" ng-bind-html="ot.text | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-md btn-default col-xs-12" ng-click="createChild()">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="childrenWebstore.length > 0" class="table table-responsive">
            <table t-table="childrenWebstore" class="table table-hover webstore-table">
                <thead class="hubs-table-head">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Payment</th>
                        <th>Allow COD</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="children in childrenWebstore | limitTo: offset - childrenWebstore.length | limitTo: 5">
                        <td>{{children.FirstName}} {{children.LastName}}</td>
                        <td>{{children.Email}}</td>
                        <td>{{children.PhoneNumber}}</td>
                        <td class="webstore-cell">{{children.WebstoreCompany.PostPaidPayment ? "Postpaid" : "Prepaid"}}</td>
                        <td class="webstore-cell">{{children.WebstoreCompany.AllowCOD ? "Yes" : "No"}}</td>
                        <td>
                            <button class="btn btn-danger btn-xs" 
                                ng-click="deleteChild(children.UserID, children.FirstName + ' '+ children.LastName)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot ng-show="childrenWebstore.length > 5">
                    <tr class="paginationBar">
                        <td colspan="5">
                            <button 
                                ng-click="paginationChildWebstore(0)" 
                                class="btn btn-sm btn-default">First</button>
                            <button 
                                ng-click="paginationChildWebstore(offset-5)"
                                ng-class="{disabled: offset == 0}" 
                                class="btn btn-sm btn-default"><</button>
                            <button 
                                ng-repeat="n in childrenWebstore" 
                                ng-if="$index % 5 == 0" 
                                ng-class="{active: $index == offset}" 
                                class="btn btn-sm btn-default" 
                                ng-click="paginationChildWebstore($index)" 
                                ng-bind="($index/5) + 1">1</button>
                            <button 
                                ng-click="paginationChildWebstore(offset+5)" 
                                ng-class="{disabled: offset >= (childrenWebstore.length - (childrenWebstore.length % 5))}" 
                                class="btn btn-sm btn-default">></button>
                            <button 
                                ng-click="paginationChildWebstore(childrenWebstore.length - (childrenWebstore.length % 5))"
                                class="btn btn-sm btn-default">Last</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="header-edit-webstore">
            <h5><b>Webstore Location</b></h5>
        </div>
        <div id="maps" class="maps-webstore maps-webstore-full-width" style="margin:0 !important"></div>
    </div>
</div>

<script>

</script>

