.webstore-status-field {
  width: 100%;
}

.webstore-status-cell {
  width: 130px;
}

.webstore-filter {
  width: 100%;
  text-indent: 10px;
  height: 100%;
  border-radius: 3px;
  border: solid 1px #ccc;
}

.webstore-table > thead > tr > th {
  vertical-align: middle;
  text-align: center;
}

.webstore-cell {
  text-align: center;
}

.webstore-details {
  padding-bottom: 30px;
}

.webstore-verify {
  background-color: #428bca;
}
