.webstore-status-field {
    width: 100%;
}

.webstore-status-cell {
    width: 130px;
}

.webstore-filter {
    width: 100%;
    text-indent: 10px;
    height: 100%;
    border-radius: 3px;
    border: solid 1px #ccc;
}

.webstore-table > thead > tr > th {
    vertical-align: middle;
    text-align: center;
}

.webstore-cell {
    text-align: center;
}

.webstore-details {
    padding-bottom: 30px;
}

.webstore-verify {
    background-color: #428bca;
}

.maps-webstore {
    width: 650px; 
    height: 480px; 
    background-color: rgb(229, 227, 223); 
    overflow: hidden; 
    position: absolute; 
    margin-left: 450px; 
    margin-top: -250px;
}

.delivery-settings .ngdialog-content {
    padding: 0px !important;
    width: 580px !important;
}

.delivery-settings .ngdialog-content {
    padding: 0px !important;
    width: 450px!important;
}

.delivery-settings .ngdialog-close::before {
    font-size: 35px !important;
    right: 10px !important;
    top: 13px !important;
}

.delivery-settings-body {
    text-align: center;
}

.delivery-settings-body .form-group {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 13px;
}

.delivery-settings .row {
    margin-left: -15px;
    margin-right: -15px;
}

.delivery-settings-body #cutoff {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    flex-direction: column;
}
.delivery-settings-body .time-select {
    padding: 0px;
}

.delivery-settings-body .form-control {
    width: auto;
    height: 25px;
    font-size: 12px;
    display: inline;
}

.dialog-header {
  color: white;
  background: #381E39;
  height: 50px;
  font-family: 'Avenir-Heavy' !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
}

.dialog-header-title {

}

.package-dimension-grid {
    margin-bottom: 8px;
    margin-top: 8px;
}

.pricing-type-field label {
    display: block;
    font-weight: normal;
}

.pricing-type-field input[type="radio"] {
    width: auto;
    vertical-align: middle;
    margin: 0;
}

.createWebstoreChild {
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px !important;
}

.webstore-info {
    margin-left: 10px;
    margin-top: 20px;
}

.header-edit-webstore {
    color: #fff;
    background: #7a4078;
    padding: 10px 15px;
}

.header-edit-webstore button {
    margin-top: -7px;
}

.maps-webstore-full-width {
    width: 100%;
}

.radio-button {
    margin-top: 7px;
}