<div class="container-fluid container-hubs">
    <div class="clearfix"></div>
    <div class="row-fluid box-header">
        <div>
            <div class="col-md-6 col-sm-7">
                <div class="hub-title-box">
                    COD Payment Management
                </div>
            </div>
            <div class="col-md-3 col-sm-5 pull-right">
                <div class="hub" ng-include="'components/user/user.html'"></div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="hub-search">
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-1 content-set-limit">
        <button class="btn order-buttons" ng-click="clearFilter()"><i class="fa fa-refresh"></i> Reset Filter</button>
    </div>

    <div class="container-content">
        <div class="col-md-12">
            <button class="btn btn-primary" type="button" ng-click="openCreateCODPaymentModal()">Confirm Manual COD Payment</button>
            <table st-table="displayed" st-pipe="callServer" class="table table-hover table-main-trip">
                <thead class="hubs-table-head">
                    <tr>
                        <th>Transaction ID</th>
                        <th>Created Time</th>
                        <th>User Type</th>
                        <th>User</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Payment Method</th>
                        <th>Paid Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <div class="filter-table">
                                <input 
                                    type="search" 
                                    class="form-control input-table" 
                                    value="" 
                                    ng-model="queryTransactionId" 
                                    ng-keyup="searchPayment($event)">
                            </div>
                        </th>
                        <th>
                            <div class="filter-table">
                                <input 
                                    id="date-picker" 
                                    type="text" 
                                    class="form-control input-table" 
                                    date-range-picker 
                                    ng-model="createdDatePicker" 
                                    options="optionsDatepicker" />
                            </div>
                        </th>
                        <th>
                            <div class="filter-table">
                                <ui-select ng-model="userType" 
                                    theme="selectize" 
                                    on-select="chooseUserType($item)" 
                                    class="booking-order-type">
                                    <ui-select-match class="input-table">{{$select.selected.key}}</ui-select-match>
                                    <ui-select-choices repeat="ot in userTypes | filter: $select.search" selected>
                                        <span class="input-table" ng-bind-html="ot.key | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </th>
                        <th>
                            <div class="filter-table">
                                <input 
                                    type="search" 
                                    class="form-control input-table" 
                                    value="" 
                                    ng-model="queryUser" 
                                    ng-keyup="searchPayment($event)">
                            </div>
                        </th>
                        <th></th>
                        <th>
                            <div class="filter-table">
                                <ui-select ng-model="status" 
                                    theme="selectize" 
                                    on-select="chooseStatus($item)" 
                                    class="booking-order-type">
                                    <ui-select-match class="input-table">{{$select.selected.key}}</ui-select-match>
                                    <ui-select-choices repeat="ot in statuses | filter: $select.search" selected>
                                        <span class="input-table" ng-bind-html="ot.key | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </th>
                        <th>
                            <div class="filter-table">
                                <ui-select ng-model="paymentMethod" 
                                    theme="selectize" 
                                    on-select="choosePaymentMethod($item)" 
                                    class="booking-order-type">
                                    <ui-select-match class="input-table">{{$select.selected.key}}</ui-select-match>
                                    <ui-select-choices repeat="ot in paymentMethods | filter: $select.search" selected>
                                        <span class="input-table" ng-bind-html="ot.key | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </th>
                        <th>
                            <div class="filter-table">
                                <input 
                                    id="date-picker" 
                                    type="text" 
                                    class="form-control input-table" 
                                    date-range-picker 
                                    ng-model="paidDatePicker" 
                                    options="optionsDatepicker" />
                            </div>
                        </th>
                    </tr>
                </tbody>
                <tbody ng-show="!isLoading && displayed.length == 0">
                    <tr>
                        <td colspan="9" class="text-center">
                            No data found
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="isLoading">
                    <tr>
                        <td colspan="9" class="text-center">Loading ... </td>
                    </tr>
                </tbody>
                <tbody ng-show="!isLoading && displayed.length > 0">
                    <tr ng-if="displayed"></tr>
                    <tr ng-repeat="payment in displayed">
                        <td ng-click="detailsPage(payment.CODPaymentID)">{{payment.TransactionId}}</td>
                        <td ng-click="detailsPage(payment.CODPaymentID)">{{payment.CreatedDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td ng-click="detailsPage(payment.CODPaymentID)">{{payment.User.UserType.Name}}</td>
                        <td ng-click="detailsPage(payment.CODPaymentID)">{{payment.User.FullName}}</td>
                        <td ng-click="detailsPage(payment.CODPaymentID)">{{payment.TotalAmount}}</td>
                        <td ng-click="detailsPage(payment.CODPaymentID)">{{payment.Status}}</td>
                        <td ng-click="detailsPage(payment.CODPaymentID)">{{payment.PaymentMethod}}</td>
                        <td ng-click="detailsPage(payment.CODPaymentID)">{{payment.PaidDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                    </tr>
                </tbody>
                <tfoot ng-show="!isLoading && displayed.length > 0">
                    <tr>
                        <td colspan="9" 
                            class="text-center" 
                            st-pagination="" 
                            st-items-by-page="itemsByPage" 
                            st-displayed-pages='9' st-template='components/table/pagination.html'>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<script type="text/ng-template" id="createCODPaymentTemplate">
    <div class="container-fluid" id="createCODPaymentModal">
        <h3>Confirm Manual COD Payment</h3>
        <div class="row-fluid">                    
            <div class="label-payment">
                Paid By :
            </div> 
            <div class="input-payment">
                <input type="radio" name="paidBy" ng-change="resetPaymentParams()" ng-model="paidBy" value="driver">
                    Driver
                <input type="radio" name="paidBy" ng-change="resetPaymentParams()" ng-model="paidBy" value="company">
                    Company
            </div>
        </div>
        <div class="clearfix"></div>
        <div ng-if="paidBy == 'driver'" class="animate-if">
            <div class="row-fluid">                    
                <div class="label-payment">
                    Select Fleet :
                </div> 
                <div class="input-payment">
                    <ui-select ng-model="company" 
                        theme="selectize" 
                        on-select="chooseCompany($item)" 
                        class="booking-order-type">
                        <ui-select-match class="input-table">{{$select.selected.CompanyName}}</ui-select-match>
                        <ui-select-choices repeat="c in companies | filter: $select.search" selected>
                            <span class="input-table" ng-bind-html="c.CompanyName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid">                    
                <div class="label-payment">
                    Select Driver :
                </div> 
                <div class="input-payment">
                    <div ng-if="drivers.length > 0 && isFetchingDrivers" class="animate-if">
                        <ui-select ng-model="driver" 
                            theme="selectize" 
                            on-select="getCODOrdersNoPaymentAndUnpaid($item.key)" 
                            class="booking-order-type">
                            <ui-select-match class="input-table">{{$select.selected.value}}</ui-select-match>
                            <ui-select-choices repeat="d in drivers | filter: $select.search" selected>
                                <span class="input-table" ng-bind-html="d.value | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div ng-if="drivers.length == 0 && isFetchingDrivers" class="animate-if">
                        No driver found
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div ng-if="paidBy == 'company'" class="animate-if">
            <div class="row-fluid">                    
                <div class="label-payment">
                    Select Fleet :
                </div>
                <div class="input-payment"> 
                    <ui-select ng-model="company" 
                        theme="selectize" 
                        on-select="getCODOrdersNoPaymentAndUnpaid($item.User.UserID)" 
                        class="booking-order-type">
                        <ui-select-match class="input-table">{{$select.selected.CompanyName}}</ui-select-match>
                        <ui-select-choices repeat="c in companies | filter: $select.search" selected>
                            <span class="input-table" ng-bind-html="c.CompanyName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>        
        <div ng-show="isFetchingOrders" class="row">
            <uib-accordion>
                <uib-accordion-group is-open="areaFilter.open">
                    <uib-accordion-heading>
                        Multiple Filter by EDS / AWB / WebOrderID
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': areaFilter.open, 'glyphicon-chevron-right': !areaFilter.open}"></i>
                    </uib-accordion-heading>
                    <textarea ng-model="$parent.$parent.$parent.$parent.queryMultipleEDS"
                        id="eds-textarea"
                        placeholder="Write/Paste EDS Number or Order ID here, separated with newline">
                    </textarea>
                    
                    <div class="pull-right">
                        <a class="btn btn-default" ng-click="clearTextArea()">Clear</a>
                        <a class="btn btn-default" 
                            ng-click="areaFilter.open = false; clearTextArea()">Cancel</a>
                        <a ng-click="getCODOrdersNoPaymentAndUnpaid(selectedUserID)" class="btn btn-success">Filter</a>
                    </div>
                </uib-accordion-group>
            </uib-accordion>
        </div>
        <div ng-show="isFetchingOrders && codOrdersNoPayment.length == 0 && codPaymentsUnpaid.length == 0">
            No Unpaid COD Orders found
        </div>
        <div class="content-payment" ng-show="isFetchingOrders && (codOrdersNoPayment.length > 0 || codPaymentsUnpaid.length > 0)" >
            <div class="row-fluid" ng-show="paidBy == 'driver'">                    
                <div class="label-paymentType">
                    Payment Type :
                </div> 
                <div class="input-paymentType">
                    <input type="radio" name="paymentType" ng-change="onPaymentTypeChange()" ng-model="formData.paymentType" value="manual">
                        Manual
                    <input type="radio" name="paymentType" ng-change="onPaymentTypeChange()" ng-model="formData.paymentType" value="auto">
                        Auto
                </div>
            </div>
            <div class="clearfix"></div>            
            <div ng-show="formData.paymentType == 'manual'">
                <div ng-show="codOrdersNoPayment.length == 0">
                    No Manual Payment found
                </div>
                <table class="table table-hover table-main-trip" ng-show="codOrdersNoPayment.length > 0">
                    <thead class="hubs-table-head">
                        <tr>
                            <th>
                                <input type="checkbox" ng-model="status.selectedAll" ng-click="checkUncheckSelected()" />
                            </th>
                            <th>AWB / WebOrderID</th>
                            <th>Driver</th>
                            <th>COD Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in codOrdersNoPayment">
                            <td class="">
                                <input type="checkbox" ng-change="prepareSelectedOrdersOrPayment()" ng-model="order.Selected" />
                            </td>
                            <td>{{order.UserOrderNumber}} / {{order.WebOrderID}}</td>
                            <td>{{order.Driver.FirstName}} {{order.Driver.LastName}}</td>
                            <td>{{order.TotalValue}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
            <div ng-show="formData.paymentType == 'auto'">
                <div ng-show="codPaymentsUnpaid.length == 0">
                    No Automatic Payment found
                </div>
                <table class="table table-hover table-main-trip" ng-show="codPaymentsUnpaid.length > 0">
                    <thead class="hubs-table-head">
                        <tr>
                            <th></th>
                            <th>Transaction ID</th>
                            <th>Driver</th>
                            <th>Total COD Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="payment in codPaymentsUnpaid">
                            <td class="">
                                <input type="radio" name="selectedAutoPayment" ng-change="prepareSelectedOrdersOrPayment()" ng-model="formData.selectedPayment" ng-value="payment" />
                            </td>
                            <td>{{payment.TransactionId}}</td>
                            <td>{{payment.User.FirstName}} {{payment.User.LastName}}</td>
                            <td>{{payment.TotalAmount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid">          
                <div class="label-amount">
                    Amount Paid
                </div> 
                <div class="text-amount">
                    {{amountPaid}}
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid">               
                <div class="label-payment">
                    Transaction Datetime :
                </div> 
                <div class="input-payment">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group">
                                <input type="text" class="form-control" data-ng-model="transactionDate" datetime="MM/dd/yyyy HH:mm:ss">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker 
                                data-before-render="beforeRender($dates)"
                                data-ng-model="transactionDate" 
                                data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"
                                data-on-set-time="onTimeSet(newDate, oldDate)"/>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid">          
                <div class="label-payment">
                    Transaction Type :
                </div> 
                <div class="input-payment">
                <ui-select ng-model="transactionType" 
                    theme="selectize" 
                    on-select="chooseTransactionType($item)" 
                    class="booking-order-type">
                    <ui-select-match class="input-table">{{$select.selected.key}}</ui-select-match>
                    <ui-select-choices repeat="ot in transactionTypes | filter: $select.search" selected>
                        <span class="input-table" ng-bind-html="ot.key | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
                </div>
            <div class="clearfix"></div>
            <div class="row-fluid">                    
                <div class="label-payment">
                    Details :
                </div> 
                <div class="input-payment">
                    <textarea ng-model="$parent.transactionDetails" class="form-control">
                    </textarea>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid">
                <a class="button-payment" ng-click="createCODPayment()">Confirm Manual COD Payment</a>
                <a class="button-payment" ng-click="cancelCODPayment()">Cancel</a>
            </div>
        </div>
    </div>
</script>