.hub-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 420px;
    padding: 0 !important;
}

.hub-buttons {
    margin-top: 10px;
}

.hub-button {
    width: 150px;
    text-decoration:none;
    text-transform: uppercase;
    background: #ff5c61;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    padding: 10px;
    border-radius: 3px;
}

.hub-button:hover {
    text-decoration:none;
    color:#ffffff;
}

.hub-button {
    text-decoration:none;
    margin-bottom: 20px;
    text-align: center;
}

.hub-button.button-full {
    width: 100%;
}

.hub-button.button-green {   
    background: #37b392;
    border: 1px solid #37b392;
}

.hub-button.button-link {
    background: transparent;
    border: none;
    color: #666;
}

.hub-button.button-cancel {
    background: #eee;
    border: #eee;
    color: #666;
}

.hub-field {
    padding: 0px;
    width: 70%;
    float: left;
    margin-left: 5px;
}

.hub-field > input,
.hub-field > textarea {
    margin-bottom: 8px;
    margin-left: 0px;
    padding-left: 0px;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    outline: none;
}

.hub-field.input-group {
    margin-bottom: 8px;
}

.hub-field > input.first {
    border-bottom: solid 1px #eee;
}

.maps {
    width: 500px; 
    height: 280px; 
    background-color: rgb(229, 227, 223); 
    overflow: hidden; 
    position: absolute; 
    margin-left: 450px; 
    margin-top: -150px;
}

.hubzipcodes-form {
    background-color: #transparent;
    overflow: hidden;
    position: absolute;
    margin-left: 450px;
    margin-top: -60px;
}

.select-field {
    width: 70%;
    float: left;
}

.addButton {
    margin-bottom: 15px;
}

.label-input {
    float: left;
    margin-top: 7px;
    width: 25%;
}

.zip-item {
    font-weight: bold;
}

/*------------------------*/


.container-hubs {
    background-color: #f1f1f1;
    height: 100%;
    position: relative;
}

.box-header {
    height: 90px;
    background: white;
}

.hub-title-box {
    padding-top: 32px;
    font-weight: bold;
    font-size: 21px;
    padding-left: 20px;
}

.hub-search {
    height: 90px;
    width: 100%;
    padding-top: 19px;
}

.hub-search input {
    height: 50px;
}

.hub-search button {
    height: 50px;
}


/* Filters */

.box-hub {
    padding-left: 20px;
    padding-right: 36px;
}

.filter {
    padding-top: 10px;
    float: left;
    width: 100%;
    margin-right: 30px;
}

.filter > select {
    height: 35px;
}

.button-fix {
    padding-top: 40px;
    padding-left: 0 !important;
}

.hub-buttons {
    width: 85%;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background: #ff5c61;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding-top: 10px;
    font-size: 13px;
    bhub-radius: 3px;
    height: 35px;
}

.hub-buttons > img {
    margin-right: 5px;
    position: relative;
    bottom: 3px;
}

.hub-buttons:hover, .hub-buttons:focus {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

.uploadXls {
    margin-top: 10px;
}

.import-label {
    margin-top: 10px;
}

.dropoff-col {
    width: 400px;
}

.hub-id {
    color: #37b392;
    font-family: 'Avenir-Heavy';
    cursor: pointer;
}

.pickup-col {
    width: 400px;
}

.more {
    font-family: 'Avenir-Heavy';
    color: #ff5c61;
}

.status-dot {
    margin-left: 12px;
}

.success-dot {
    width: 12px;
    height: 12px;
    bhub-radius: 50%;
    background: #37b392;
}

td, th {
    vertical-align: middle !important;
}

.warning-dot {
    width: 12px;
    height: 12px;
    bhub-radius: 50%;
    background: orange;
}

.danger-dot {
    width: 12px;
    height: 12px;
    bhub-radius: 50%;
    background: #ff5c61;
}

.more > .popover {
    left: auto !important;
    right: 40px !important;
}

.more > .popover > .arrow {
    margin-left: 39px !important;
}

.hub-details-list {
  font-family: 'Avenir';
    color: black;
    margin-top: 13px;
    list-style-type: none;
    margin-left: -15px;
    font-size: 14px;
}

.hub-details-list > li {
  margin-top: 10px;
  margin-right: 7px;
  cursor: pointer;
  text-decoration: none;
}


.hub-import > a {
    color: #428bca;
    cursor: pointer;
}

.hub-import > a:hover {
    color: #428bca;
}
/* Fix ui-select */
.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {
    text-align: left;
}

.ngdialog.hub-import-popup .ngdialog-content {
    padding: 15px;
}

.ngdialog.hub-import-popup .ngdialog-close:before {
    color: #bbb;
    font-size: 26px;
    font-weight: 400;
    right: 3px;
    top: 3px;
    width: 30px;
}

/* From orders.css */

.container-hubs {
    background-color: #f1f1f1;
    height: 100%;
    position: relative;    
    padding-left: 0;
    padding-right: 0;
}

.box-header {
    height: 90px;
    background: white;
}

.hub-title-box {
    padding-top: 32px;
    font-weight: bold;
    font-size: 21px;
    padding-left: 20px;
}

.hub-search {
    height: 90px;
    width: 100%;
    padding-top: 19px;
}

.hub-search input {
    height: 50px;
}

.hub-search button {
    height: 50px;
}


/* Filters */

.box-hub {
    padding-left: 20px;
    padding-right: 36px;
}

.filter {
    padding-top: 10px;
    float: left;
    width: 100%;
    margin-right: 30px;
}

.filter > select {
    height: 35px;
}

.button-fix {
    padding-top: 40px;
    padding-left: 0 !important;
}

.hub-buttons {
    width: 85%;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background: #ff5c61;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding-top: 10px;
    font-size: 13px;
    bhub-radius: 3px;
    height: 35px;
}

.hub-buttons > img {
    margin-right: 5px;
    position: relative;
    bottom: 3px;
}

.hub-buttons:hover, .hub-buttons:focus {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

.uploadXls {
    margin-top: 10px;
}

.import-label {
    margin-top: 10px;
}

.dropoff-col {
    width: 400px;
}

.hub-id {
    color: #37b392;
    font-family: 'Avenir-Heavy';
    cursor: pointer;
}

.pickup-col {
    width: 400px;
}

.more {
    font-family: 'Avenir-Heavy';
    color: #ff5c61;
}

.status-dot {
    margin-left: 12px;
}

.success-dot {
    width: 12px;
    height: 12px;
    bhub-radius: 50%;
    background: #37b392;
}

td {
    vertical-align: middle !important;
}

.warning-dot {
    width: 12px;
    height: 12px;
    bhub-radius: 50%;
    background: orange;
}

.danger-dot {
    width: 12px;
    height: 12px;
    bhub-radius: 50%;
    background: #ff5c61;
}

.more > .popover {
    left: auto !important;
    right: 40px !important;
}

.more > .popover > .arrow {
    margin-left: 39px !important;
}

.hub-details-list {
  font-family: 'Avenir';
    color: black;
    margin-top: 13px;
    list-style-type: none;
    margin-left: -15px;
    font-size: 14px;
}

.hub-details-list > li {
  margin-top: 10px;
  margin-right: 7px;
  cursor: pointer;
  text-decoration: none;
}


.hub-import > a {
    color: #428bca;
    cursor: pointer;
}

.hub-import > a:hover {
    color: #428bca;
}
/* Fix ui-select */
.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {
    text-align: left;
}

.ngdialog.hub-import-popup .ngdialog-content {
    padding: 15px;
}

.ngdialog.hub-import-popup .ngdialog-close:before {
    color: #bbb;
    font-size: 26px;
    font-weight: 400;
    right: 3px;
    top: 3px;
    width: 30px;
}