<div class="container-fluid container-hubs">
    <div class="clearfix"></div>
    <div class="row-fluid box-header">
        <div>
            <div class="col-md-6 col-sm-7">
                <div class="hub-title-box">
                    Hub Management
                </div>
            </div>
            <div class="col-md-3 col-sm-5 pull-right">
                <div class="hub" ng-include="'components/user/user.html'"></div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="hub-search">
                </div>
            </div>
        </div>
    </div>
    
    <div>
        <form class="form" name="hubForm" novalidate>
            <div class="container-fluid hub-container">    
                <div class="row-fluid">                    
                    <div class="label-input">
                        Name :
                    </div>  
                    <div class="hub-field">
                        <input ng-model="hub.Name"
                            type="text"
                            name="name"
                            value=""
                            placeholder="Name"
                            required
                            class="first form-control" />
                    </div>
                    <div class="form-group has-error">
                        <span class="help-block" ng-show="hubForm.name.$error.required && submitted">
                            Please enter a name
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">                    
                    <div class="label-input">
                        Type :
                    </div>  
                    <ui-select required name="type" class="hub-field select-field" 
                        ng-model="type" 
                        theme="selectize" 
                        ng-disabled="disabled" 
                        on-select="chooseType($item)">
                        <ui-select-match placeholder="Choose type">
                            {{ $select.selected.key }}
                        </ui-select-match>
                        <ui-select-choices repeat="m in types" selected>
                            <span ng-bind-html="m.key"></span>
                        </ui-select-choices>
                    </ui-select>
                    <div class="form-group has-error">
                        <span class="help-block" ng-show="hubForm.type.$error.required && submitted">
                            Please enter a type
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid" ng-show="hub.Type === 'GENERAL'">                
                    <div class="label-input">
                        Parent :
                    </div>  
                    <ui-select class="hub-field select-field" 
                        ng-model="parent" 
                        theme="selectize" 
                        ng-disabled="disabled" 
                        on-select="chooseParent($item)">
                        <ui-select-match placeholder="Choose parent">
                            {{ $select.selected.key }}
                        </ui-select-match>
                        <ui-select-choices repeat="m in hubs | filter: $select.search" selected>
                            <span ng-bind-html="m.key | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">                    
                    <div class="label-input">
                        Fleet Manager :
                    </div>  
                    <ui-select required name="fleetManager" class="hub-field select-field" 
                        ng-model="fleetManager" 
                        theme="selectize" 
                        ng-disabled="disabled"
                        on-select="chooseFleetManager($item)">
                        <ui-select-match placeholder="Choose fleet manager">
                            {{ $select.selected.CompanyName }}
                        </ui-select-match>
                        <ui-select-choices repeat="m in companies | filter: $select.search" selected>
                            <span ng-bind-html="m.CompanyName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <div class="form-group has-error">
                        <span class="help-block" ng-show="hubForm.fleetManager.$error.required && submitted">
                            Please enter a fleet manager
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">                    
                    <div class="label-input">
                        Address :
                    </div> 
                    <div class="hub-field">
                        <input id="us2-address" 
                            ng-model="hub.Address1" 
                            type="text" 
                            name="address1" 
                            value="" 
                            placeholder="Address" 
                            required
                            class="first form-control" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div id="maps" class="maps"></div> 
                    <div class="label-input">
                        Latitude :
                    </div>    
                    <div class="hub-field">
                        <input id="us2-lat" 
                            ng-model="hub.Latitude" 
                            type="text" 
                            name="latitude" 
                            value="" 
                            placeholder="Latitude" 
                            required
                            class="first form-control" />
                    </div>         
                    <div class="label-input">
                        Longitude :
                    </div>     
                    <div class="hub-field"> 
                        <input id="us2-lon" 
                            ng-model="hub.Longitude" 
                            type="text" 
                            name="longitude" 
                            value="" 
                            placeholder="Longitude" 
                            required
                            class="first form-control" /> 
                    </div>
                <div class="clearfix"></div>
                <div class="row-fluid">                    
                    <div class="label-input">
                        Country :
                    </div> 
                    <ui-select required name="country" class="hub-field select-field" 
                        ng-model="form.country" 
                        theme="selectize" 
                        ng-disabled="disabled"
                        on-select="chooseCountry($item)">
                        <ui-select-match placeholder="Choose country">
                            {{ $select.selected.Name }}
                        </ui-select-match>
                        <ui-select-choices repeat="m in countries | filter: $select.search" selected>
                            <span ng-bind-html="m.Name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <div class="form-group has-error">
                        <span class="help-block" ng-show="hubForm.country.$error.required && submitted">
                            Please enter a country
                        </span>
                    </div>    
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">
                    <div class="label-input">
                        State :
                    </div> 
                    <ui-select required name="state" class="hub-field select-field" 
                        ng-model="form.state" 
                        theme="selectize" 
                        ng-disabled="disabled"
                        on-select="chooseState($item)">
                        <ui-select-match placeholder="Choose state">
                            {{ $select.selected.Name }}
                        </ui-select-match>
                        <ui-select-choices repeat="m in states | filter: $select.search" selected>
                            <span ng-bind-html="m.Name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <div class="form-group has-error">
                        <span class="help-block" ng-show="hubForm.state.$error.required && submitted">
                            Please enter a state
                        </span>
                    </div>    
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">                    
                    <div class="label-input">
                        City :
                    </div> 
                    <ui-select required name="city" class="hub-field select-field" 
                        ng-model="form.city" 
                        theme="selectize" 
                        ng-disabled="disabled"
                        on-select="chooseCity($item)">
                        <ui-select-match placeholder="Choose city">
                            {{ $select.selected.Name }}
                        </ui-select-match>
                        <ui-select-choices repeat="m in cities | filter: $select.search" selected>
                            <span ng-bind-html="m.Name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <div class="form-group has-error">
                        <span class="help-block" ng-show="hubForm.city.$error.required && submitted">
                            Please enter a city
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid">                    
                    <div class="label-input">
                        Zip Code :
                    </div> 
                    <div class="hub-field">
                        <input ng-model="hub.ZipCode"
                            type="text"
                            name="zipcode"
                            value=""
                            placeholder="Zipcode"
                            required
                            class="first form-control">
                    </div>
                </div>
                <div ng-if="updatePage" class="hubzipcodes-form">                    
                    <div>
                        Hub Zip Codes :
                    </div> 
                    <div>                  
                        <span class="zip-item" ng-repeat="item in zipcodes">
                            {{ item.value }}
                        </span>
                        <div>
                            <button class="btn btn-primary"
                                ng-click="manageZipcodes(hub.HubID)">Manage Zipcodes</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div ng-if="addPage" class="row-fluid">
                    <a class="hub-buttons" ng-click="createHub()">Create Hub</a>
                </div>
                <div ng-if="updatePage" class="row-fluid">
                    <a class="hub-buttons" ng-click="updateHub()">Update Hub</a>
                </div>
                                
            </div>
        </form>
    </div>
</div>

<script>

</script>

