/* Main page styles */

/* border between bootstrap column */
.border-between > [class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}
.border-between > [class*='col-']:first-child:before {
    display: none;
}
/* end of border between bootstrap column */

.container-dashboard {
    margin-left: 100px;
    background-color: #f1f1f1;
    height: 100%;
    position: relative;
}

.box-header {
    height: 90px;
    background: white;
}

.dashboard-title-box {
    font-weight: bold;
    padding-top: 32px;
    font-weight: bold;
    font-size: 21px;
    padding-left: 20px;
    text-transform: uppercase;
}

.dashboard-content {
    padding: 20px;
}

.summary-card {
    padding: 10px;
    margin-bottom: 20px;
}

.summary-card .container {
    display: block;
    width: 100%;
    padding: 0px;
    background: #fff;
    color: #555;
    border: solid 1px #ccc;
    border-radius: 4px;
}

.summary-card .container .header {
    display: block;
    background: #efefef;
    padding: 10px 15px 5px 15px;
}

.summary-card .container .header h4.title {
    padding: 0px;
    font-size: 13px;
    font-weight: bold;
}
.summary-card .container .header h4.title > span {
    color: #FF5A60;
}

.summary-card .container .content {
    padding: 15px;
}

.summary-card .container .content.no-padding {
    padding: 0px;
}

.summary-card .container .content .graph {
    display: block;
    min-height: 120px;
}

.summary-card .container .content .legend {
}

.summary-card .container .content .legend .item {
    display: inline-block;
    width: 48%;
    text-align: center;
    margin-bottom: 10px;
}

.legend .item .legend-icon {
    display: inline-block;
    vertical-align: top;
    padding: 10px 5px;
}

.legend .item .legend-icon .icon {
    display: block;
    width: 15px;
    height: 15px;
    background: #ccc;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.legend .item .legend-icon .icon.green {
    background: #37b392;
}

.legend .item .legend-icon .icon.red {
    background: #FF5A60;
}

.legend .item .details {
    display: inline-block;
    vertical-align: top;
}

.legend .item .details .value {
    display: block;
    font-family: sans-serif;
    font-size: 27px;
    font-weight: bold;
    text-align: left;
}

.legend .item .details .description {
    display: block;
    font-size: 12px;
    font-weight: lighter;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 0px;
    color: #666;
}

.summary-card .summary-grid .col-item {
    min-height: 72px;
}

.summary-card .summary-grid .col-item .details {
    padding: 10px 5px;
}

.summary-grid .col-item .details .value {
    display: block;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.summary-grid .col-item .details .value.medium {
    font-size: 17px;
}

.summary-grid .col-item .details .value.green {
    color: #37b392;
}

.summary-grid .col-item .details .value.red {
    color: #FF5A60;
}

.summary-grid .col-item .details .description {
    display: block;
    font-size: 12px;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 5px;
    color: #666;
}

.summary-grid .col-item .details .ico {
    display: block;
    text-align: left;
    width: 28px;
    height: 28px;
}

.summary-grid .col-item .details .ico.ico-bike {
    background: url("/assets/images/bike.png") center no-repeat;
    background-size: 28px;
}

.summary-grid .col-item .details .ico.ico-van {
    background: url("/assets/images/van 2.png") center no-repeat;
    background-size: 28px;
}

.summary-grid .col-item .details .ico.ico-truck {
    background: url("/assets/images/truck.png") center no-repeat;
    background-size: 28px;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 830px) {

    .summary-card .container .content .legend .item {
        display: block;
        width: 100%;
        text-align: left;
        margin-bottom: 0px;
    }

}