<div class="container-fluid container-hubs">
    <div class="clearfix"></div>
    <div class="row-fluid box-header">
        <div>
            <div class="col-md-6 col-sm-7">
                <div class="hub-title-box">
                    Dashboard
                </div>
            </div>
            <div class="col-md-3 col-sm-5 pull-right">
                <div class="hub" ng-include="'components/user/user.html'"></div>
            </div>
        </div>
    </div>
    
    <div class="container-content">
        <div class="col-md-12 no-padding mb10">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <ui-select ng-model="dashboardFeature"
                    theme="selectize"
                    ng-disabled="disabled"
                    on-select="chooseDashboardFeature($item)">
                    <ui-select-match placeholder="Choose dashboard feature ...">
                        {{ $select.selected.key }}
                    </ui-select-match>
                    <ui-select-choices repeat="f in dashboardFeatures | filter: $select.search" selected>
                        <span ng-bind-html="f.key | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-md-12 no-padding mb5" ng-show="temp.show.filter">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <p class="input-group date-picker-new"> 
                    <input type="text"
                        class="form-control border-right-none"
                        ng-model="startFilter"
                        uib-datepicker-popup="d MMMM yyyy"
                        date:'yyyy-MM-dd'
                        is-open="isStartDropoffDatePickerOpen"
                        placeholder="From"
                        datepicker-options="datePickerOptions"
                        show-button-bar="false"
                        ng-click="isStartDropoffDatePickerOpen = !isStartDropoffDatePickerOpen" />
                    <span class="input-group-btn">
                        <button type="button"
                            class="btn btn-default"
                            ng-click="isStartDropoffDatePickerOpen = !isStartDropoffDatePickerOpen">
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <p class="input-group date-picker-new"> 
                    <input type="text"
                        class="form-control border-right-none"
                        ng-model="endFilter"
                        uib-datepicker-popup="d MMMM yyyy"
                        date:'yyyy-MM-dd'
                        is-open="isEndDropoffDatePickerOpen"
                        placeholder="To"
                        datepicker-options="datePickerOptions"
                        show-button-bar="false"
                        ng-click="isEndDropoffDatePickerOpen = !isEndDropoffDatePickerOpen" />
                    <span class="input-group-btn">
                        <button type="button"
                            class="btn btn-default"
                            ng-click="isEndDropoffDatePickerOpen = !isEndDropoffDatePickerOpen">
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
                <button class="btn btn-green col-xs-12" 
                    ng-click="filter()" 
                    ng-disabled="!(startFilter && endFilter)">Filter</button>
            </div>
        </div>

        <div class="col-md-12" ng-show="temp.show.chart">
            <div class="bg-white col-md-12" style="padding-top: 15px; padding-bottom: 15px">
                <div class="col-md-8">
                    <canvas id="lineChart" class="chart chart-line"
                        chart-data="temp.chart.data" 
                        chart-labels="temp.chart.labels" 
                        chart-colors="temp.chart.colors"
                        chart-dataset-override="temp.chart.settings">
                    </canvas> 
                </div>
                <div class="col-md-4">
                    <p><b>From: {{startFilter | date:'dd-MM-yyyy'}}</b></p>
                    <p><b>End: {{endFilter | date:'dd-MM-yyyy'}}</b></p>
                    <p>Total {{dashboardFeature.key}}: {{temp.total}}</p>
                </div>
            </div>
        </div>

        <div class="col-md-12" ng-show="temp.show.multipleChart">
            <div class="bg-white col-md-12" style="padding-top: 15px; padding-bottom: 15px">
                <p><b>From: {{startFilter | date:'dd-MM-yyyy'}}</b> - <b>End: {{endFilter | date:'dd-MM-yyyy'}}</b></p>
                <div class="col-md-6" ng-repeat="(key, value) in temp.multipleChart">
                    <p><b>{{value.title}}</b> <small>Total: {{value.total}}</small></p>
                    <canvas id="lineChart-{{key}}" class="chart chart-line"
                        chart-data="value.data" 
                        chart-labels="value.labels" 
                        chart-colors="value.colors"
                        chart-dataset-override="value.settings">
                    </canvas> 
                </div>
            </div>
        </div>

        <div class="col-md-12" ng-show="temp.show.table">
            <div class="bg-white col-md-12" style="padding-top: 15px; padding-bottom: 15px">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <td ng-repeat="h in temp.table.head">{{h.value}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="b in temp.table.data">
                            <td ng-repeat="h in temp.table.head">{{b[h.key]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>