{
	"postgre": {
		"host": "localhost",
		"database": "",
		"user": "",
		"password": ""
	},
	"aws": {
		"accessKeyId": "",
		"secretAccessKey": ""
	},
	"email": {
		"user": "",
		"password": "",
	},
	"port": 3001,
	"ajax":{
		"origins" : ["http://localhost:9000"]
	}
}