<div class="side-panel" ng-controller="SidebarCtrl">
    <div class="row side-logo">
        <div class="side-logo-image"></div>
    </div>

    <div class="row side-dashboard">
        <a ui-sref="hub" >
            <div class="side-dashboard-image" ng-class="{active: isActive('/hub')}"></div>
            <div class="side-dashboard-text" ng-class="{active: isActive('/hub')}">Hub Management</div>
        </a>
    </div>

    <div class="row side-dashboard">
        <a ui-sref="webstore" >
            <div class="side-dashboard-image" ng-class="{active: isActive('/webstore')}"></div>
            <div class="side-dashboard-text" ng-class="{active: isActive('/webstore')}">Webstore Management</div>
        </a>
    </div>

    <div class="row side-order">
        <a ui-sref="pricing" >
            <div class="side-order-image"  ng-class="{active: isActive('/pricing')}"></div>
            <div class="side-order-text"  ng-class="{active: isActive('/pricing')}">Logistic Pricing</div>
        </a>
    </div>

    <div class="row side-order">
        <a ui-sref="custpricing" >
            <div class="side-order-image"  ng-class="{active: isActive('/custpricing')}"></div>
            <div class="side-order-text"  ng-class="{active: isActive('/custpricing')}">Customer Pricing</div>
        </a>
    </div>

</div>
<div id='spinner-container'>
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1" ></span>
</div>
