.side-panel {
    position: absolute;
    float: left;
    width: 70px;
    height: 100%;
    background-color: #371e38;
    text-align: center;
    transition: all 300ms ease;
    overflow: hidden;
    z-index:99999;
}

.side-panel:hover {
    width: 200px;
}

.side-panel > ul {
    display: table;
    width: 200px;
    padding-left: 0px;
}

.side-panel > ul > li {
    display: table-row;
    height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.side-panel > ul > li > a {
    color: #8E7A8D;
}

.side-panel > ul > li > a:hover {
    color: white;
}

.side-image {
    display: table-cell;
    background-repeat: no-repeat;
    height: 40px;
    width: 70px;
    margin: 0 auto;
    text-align: center;
    background-position: center;
}

.side-text {
    display: table-cell;
    text-decoration: none;
    text-align: left;
    vertical-align: middle;
}

.side-text.active {
    color: white;
}


/*  BOOTSTRAP FIX  */

.row {
    margin-left: 0px;
    margin-right: 0px;
}

/* LOGO */
.side-logo {
    background-color: #462445;
    height: 90px;
    margin-bottom: 10px;
}

.side-logo-image {
    background-image: url('../../assets/images/logo.png');
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
}

/* Dashboard */

.side-dashboard-image {
    background-image: url('../../assets/images/nav-dashboard.png');
}

.side-dashboard-image.active {
    background-image: url('../../assets/images/nav-dashboard-selected.png') !important;
    background-repeat: no-repeat;
}

.side-hub-image {
    background-image: url('../../assets/images/nav-hub.png');
}

.side-hub-image.active {
    background-image: url('../../assets/images/nav-hub-active.png');
}

.side-webstore-image {
    background-image: url('../../assets/images/nav-webstore.png');
}

.side-webstore-image.active {
    background-image: url('../../assets/images/nav-webstore-active.png');
}

.side-logistic-image {
    background-image: url('../../assets/images/nav-logistic.png');
}

.side-logistic-image.active {
    background-image: url('../../assets/images/nav-logistic-active.png');
}

.side-pricing-image {
    background-image: url('../../assets/images/nav-pricing.png');
}

.side-pricing-image.active {
    background-image: url('../../assets/images/nav-pricing-active.png');
}

.side-district-image {
    background-image: url('../../assets/images/nav-district.png');
}

.side-district-image.active {
    background-image: url('../../assets/images/nav-district-active.png');
}

.side-map-image {
    background-image: url('../../assets/images/nav-map.png');
}

.side-map-image.active {
    background-image: url('../../assets/images/nav-map-active.png');
}

/* Booking */

.side-booking-image {
    background-image: url('../../assets/images/nav-book.png');
}

.side-booking-image.active {
    background-image: url('../../assets/images/nav-book-selected.png') !important;
    background-repeat: no-repeat;
}

/* Order */

.side-order-image {
    background-image: url('../../assets/images/nav-track.png');
}

.side-order-image.active {
    background-image: url('../../assets/images/nav-track-selected.png') !important;
    background-repeat: no-repeat;
}
