<div ng-include="'components/sidebar/sidebar.html'"></div>
<div class="container-fluid container-hubs">
    <div class="clearfix"></div>
    <div class="row-fluid box-header">
        <div>
            <div class="col-md-6 col-sm-7">
                <div class="hub-title-box">
                    Logistic Fees
                </div>
            </div>
            <div class="col-md-3 col-sm-5 pull-right">
                <div class="hub" ng-include="'components/user/user.html'"></div>
            </div>
            <div class="col-md-3 col-sm-12">
            </div>
        </div>
    </div>
    <br>
    <div class="booking-process">
        <form class="form" name="hubForm" novalidate>
            <div class="container-fluid">
                <div class="row">      
                    <div class="col-md-4">
                        Select Company : 
                        <ui-select ng-model="ctrl.company"
                            theme="bootstrap"
                            on-select="chooseCompany()">
                            <ui-select-match placeholder="Choose company">
                                {{ $select.selected.CompanyName }}
                            </ui-select-match>
                            <ui-select-choices repeat="m in companies | filter: $select.search" selected>
                                <span ng-bind-html="m.CompanyName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="hubs-table">
                    <h4>All <strong>{{ctrl.company.CompanyName}}</strong> Fees</h4>
                    <table st-table="displayed" st-pipe="callServer" class="table table-hover">
                        <thead class="hubs-table-head" ng-show="!isLoading && displayed.length > 0">
                            <tr>
                                <th>Vehicle Type</th>
                                <th>Price per KM</th>
                                <th>Minimum Fee</th>
                                <th>Per Item Fee</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading && displayed.length == 0">
                            <tr>
                                <td colspan="9" class="text-center">
                                    No data found
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="isLoading">
                            <tr>
                                <td colspan="9" class="text-center">Loading ... </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="!isLoading && displayed.length > 0">
                            <tr ng-if="displayed"></tr>
                            <tr ng-repeat="fee in displayed">
                                <td>{{fee.VehicleType}}</id>
                                <td><input value="{{fee.PricePerKM | number}}" ng-model="fee.PricePerKM">
                                    </input></td>
                                <td><input value="{{fee.MinimumFee | number}}" ng-model="fee.MinimumFee">
                                    </input></td>
                                <td><input value="{{fee.PerItemFee | number}}" ng-model="fee.PerItemFee">
                                    </input></td>
                                <td><button ng-click="saveLogisticFee(fee)"
                                            ng-if="ctrl.company.FleetManagerID !== 0">Save</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>