<div class="container-fluid container-hubs">
    <div class="clearfix"></div>
    <div class="row-fluid box-header">
        <div>
            <div class="col-md-6 col-sm-7">
                <div class="hub-title-box">
                    Driver Management
                </div>
            </div>
            <div class="col-md-3 col-sm-5 pull-right">
                <div class="hub" ng-include="'components/user/user.html'"></div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="hub-search">
                </div>
            </div>
        </div>
    </div>
    
    <div>
        <form class="form" name="hubForm" novalidate>
            <div class="container-fluid hub-container">
                <div class="row-fluid-driver">                    
                    <div class="label-input-driver">
                        First Name :
                    </div>  
                    <div class="driver-field">
                        <input ng-model="driver.FirstName"
                            type="text"
                            name="firstName"
                            value=""
                            placeholder="FirstName"
                            required
                            class="first form-control" />
                    </div>
                </div>
                <div class="clearfix"></div> 
                <div class="row-fluid-driver">                    
                    <div class="label-input-driver">
                        Last Name :
                    </div>  
                    <div class="driver-field">
                        <input ng-model="driver.LastName"
                            type="text"
                            name="lastName"
                            value=""
                            placeholder="LastName"
                            required
                            class="first form-control" />
                    </div>
                </div>
                <div class="clearfix"></div> 
                <div class="row-fluid-driver">                    
                    <div class="label-input-driver">
                        Email :
                    </div>  
                    <div class="driver-field">
                        <input ng-model="driver.Email"
                            type="text"
                            name="email"
                            value=""
                            placeholder="Email"
                            required
                            class="first form-control" />
                    </div>
                </div>
                <div class="clearfix"></div>   
                <div class="row-fluid-driver">                    
                    <div class="label-input-driver">
                        Phone Number :
                    </div>  
                    <div class="driver-field">
                        <input ng-model="driver.PhoneNumber"
                            type="text"
                            name="phone"
                            value=""
                            placeholder="Phone"
                            required
                            class="first form-control" />
                    </div>
                </div>
                <div class="clearfix"></div>    
                <div class="row-fluid-driver">                    
                    <div class="label-input-driver">
                        Status :
                    </div>  
                    <ui-select class="driver-field select-field" 
                        ng-model="status" 
                        theme="selectize" 
                        ng-disabled="disabled" 
                        on-select="chooseStatusEdit($item)">
                        <ui-select-match placeholder="Choose status">
                            {{ $select.selected.key }}
                        </ui-select-match>
                        <ui-select-choices repeat="m in statuses" selected>
                            <span ng-bind-html="m.key"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="clearfix"></div>    
                <div class="row-fluid-driver">                    
                    <div class="label-input-driver">
                        Available :
                    </div>  
                    <ui-select class="driver-field select-field" 
                        ng-model="availability" 
                        theme="selectize" 
                        ng-disabled="disabled" 
                        on-select="chooseAvailabilityEdit($item)">
                        <ui-select-match placeholder="Choose availability">
                            {{ $select.selected.key }}
                        </ui-select-match>
                        <ui-select-choices repeat="m in availabilities" selected>
                            <span ng-bind-html="m.key"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="clearfix"></div>
                <div class="row-fluid-driver">                    
                    <div class="label-input-driver">
                        Fleet Company :
                    </div>  
                    <div class="driver-field select-field">
                    <ui-select class="col-md-12 no-padding" 
                        ng-model="company" 
                        theme="selectize" 
                        ng-disabled="disabled" 
                        tagging="tagHandler"
                        on-select="chooseCompanyEdit($item)">
                        <ui-select-match placeholder="Choose Fleet Company">
                            {{ $select.selected.CompanyName }}
                        </ui-select-match>
                        <ui-select-choices repeat="c in companies" selected>
                            <span ng-bind-html="c.CompanyName"></span>
                        </ui-select-choices>
                    </ui-select>
                    <span><small class="text-danger"><i class="fa fa-info-circle"></i> before: {{driver.Driver.CompanyDetail.CompanyName}}</small></span>
                    </div>
                </div>
                <div class="clearfix"></div>                
                <div class="row-fluid-driver">                    
                    <div class="label-input-driver">
                        Can Take COD :
                    </div>  
                    <div class="driver-field checkbox-driver">
                        <input ng-model="driver.DriverDetail.CanTakeCOD"
                            type="checkbox"
                            name="CanTakeCOD"
                            value=""
                            placeholder=""
                            required
                            class="first form-control" />
                    </div>
                </div>
                <div class="clearfix"></div>          
                <div class="clearfix"></div>
                <div ng-if="updatePage" class="row-fluid">
                    <a class="hub-buttons" ng-click="updateDriver()">Update Driver</a>
                </div>
                
            </div>
        </form>
    </div>
</div>

<script>

</script>

