.fix-top-with-condition {
    position: sticky;
    display: -webkit-box;
    top: 0;
    z-index: 10;
    width: 100%;
    background: #f0f0f0;
    margin: 0;
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
}

.SweetAlertScrollAble {
    max-height: 300px;
    overflow-y: auto;
}