.priceform {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 0 !important;
}

.cell-price {
    width: 30px;
	border: 0px none;
	background-color: transparent;
    padding: 5px;
}

.vehicle-title {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
}

.table-price th, .table-price td {
    padding: 5px;
    font-size: 12px;
}

.save-button {
    margin-top: 20px;
    margin-bottom: 20px;
}