<div class="container-fluid container-hubs ng-scope" id="">
    <div class="clearfix"></div>
    <div class="row-fluid box-header">
        <div>
            <div class="col-md-6 col-sm-7">
                <div class="hub-title-box">
                    Delivery Distribution Management
                </div>
            </div>
            <div class="col-md-3 col-sm-5 pull-right">
                <div class="hub" ng-include="'components/user/user.html'"></div>
            </div>
        </div>
    </div>

    <div class="row no-margin">
        <br>
        <div class="row no-margin">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <button class="btn order-buttons col-xs-12" ng-click="refresh()">Refresh</button>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <button class="btn order-buttons col-xs-12" ng-click="clearFilter()">
                    <i class="fa fa-refresh"></i> Reset Filter</button>
            </div>
        </div>
        <br>
        <div class="col-xs-12 no-padding">
            <div class="col-lg-4 col-md-6 col-xs-12 no-padding">
                <div class="col-md-12 col-xs-12 form-group">
                    <div class="col-md-4 col-xs-12 no-padding">
                        <p class="label-date-export">
                            From:
                        </p>
                    </div>
                    <div class="col-md-8 col-xs-12 no-padding input-group"> 
                        <input type="text"
                            class="form-control"
                            ng-model="createdDatePicker.startDate"
                            uib-datepicker-popup
                            date:'yyyy-MM-dd'
                            is-open="isStartDatePickerOpen"
                            max-date="maxExportDate"
                            ng-click="isStartDatePickerOpen = !isStartDatePickerOpen" />
                        <span class="input-group-btn">
                        <button type="button"
                            class="btn btn-default"
                            ng-click="isStartDatePickerOpen = !isStartDatePickerOpen"><i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 form-group">
                    <div class="col-md-4 col-xs-12 no-padding">
                        <p class="label-date-export">
                            To:
                        </p>
                    </div>
                    <div class="col-md-8 col-xs-12 no-padding input-group"> 
                        <input type="text"
                            class="form-control"
                            ng-model="createdDatePicker.endDate"
                            uib-datepicker-popup
                            date:'yyyy-MM-dd'
                            is-open="isEndDatePickerOpen"
                            max-date="maxExportDate"
                            ng-click="isEndDatePickerOpen = !isEndDatePickerOpen" />
                        <span class="input-group-btn">
                        <button type="button"
                            class="btn btn-default"
                            ng-click="isEndDatePickerOpen = !isEndDatePickerOpen"><i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 no-padding">
                    <div class="col-md-6 col-xs-12 form-group">
                        <div class="col-md-4 col-xs-12 no-padding">
                            <p class="label-date-export">
                                Group By:
                            </p>
                        </div>
                        <div class="col-md-8 col-xs-12 no-padding">
                            <ui-select ng-model="groupBy" 
                                theme="selectize" 
                                on-select="chooseGroupBy($item)" 
                                class="booking-order-type">
                                <ui-select-match class="input-table">{{$select.selected.key}}</ui-select-match>
                                <ui-select-choices repeat="g in groupBys | filter: $select.search" selected>
                                    <span class="input-table" ng-bind-html="g.key | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                        <button class="btn order-buttons col-xs-12" ng-click="search()">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table st-table="displayed" st-pipe="callServer" class="table table-hover table-main-trip order-table" style="margin-top: 0">
                    <thead class="hubs-table-head" ng-show="!isLoading && displayed.length > 0">
                        <tr>
                            <th>City</th>
                            <th>Total Packages</th>
                            <th>Daily Packages</th>
                            <th>Total Delivery Fee</th>
                            <th>Average Delivery Fee</th>
                            <th>Total Revenue</th>
                            <th>Average Revenue</th>
                            <th>Total Cost</th>
                            <th>Average Cost</th>
                            <th>Average P/L</th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading && displayed.length == 0">
                        <tr>
                            <td colspan="10" class="text-center">
                                No data found
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="10" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="!isLoading && displayed.length > 0">
                        <tr ng-repeat="deliveryDistribution in displayed">
                            <td>{{deliveryDistribution.City}}</td>
                            <td>{{deliveryDistribution.TotalPackages}}</td>
                            <td>{{deliveryDistribution.AveragePackages | ceil}}</td>
                            <td>{{currency}}{{deliveryDistribution.TotalDeliveryFee | number | localizenumber}}</td>
                            <td>{{currency}}{{deliveryDistribution.AverageDeliveryFee | number | localizenumber}}</td>
                            <td>{{currency}}{{deliveryDistribution.TotalRevenue | number | localizenumber}}</td>
                            <td>{{currency}}{{deliveryDistribution.AverageRevenue | number | localizenumber}}</td>
                            <td>{{currency}}{{deliveryDistribution.TotalCost | number | localizenumber}}</td>
                            <td>{{currency}}{{deliveryDistribution.AverageCost | number | localizenumber}}</td>
                            <td>{{currency}}{{deliveryDistribution.AverageProfitLoss | number | localizenumber}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>